In [40]:
import csv
from pathlib import Path
import pandas as pd
from pandas import DataFrame
import os
from dotenv import load_dotenv
from datetime import datetime
from datetime import date
from datetime import timedelta
import requests
import json

import matplotlib.pyplot as plt
import hvplot.pandas
import plotly.express as px
import panel as pn
from panel.interact import interact
from panel import widgets
import numpy as np

%matplotlib inline

# Initialize the Panel Extensions (for Plotly)
pn.extension('plotly')

# Input Portfolio
Read in the input portfolio CSV file and output a portfolio dataframe
* Inputs:
    * Portfolio CSV file
    * Format: Ticker, Transaction (B=buy, S=Sell), Date, Transaction Price, Number of Shares
    * Assumptions: Date unsorted, no '$' sign, no commas
* Outputs:
    * Portfolio database
    * Format: Ticker, Transaction (B=buy, S=Sell), Date, Transaction Price, Number of Shares, Transaction Cost
    * Database sorted by ascending date

In [2]:
# Set the path for the CSV file
input_file_path = Path("TestPortfolio.csv")

In [3]:
#Create empty list to store row data from CSV
portfolio_transactions = []

In [4]:
#Open the CSV file; read in row data; calculate transaction cost per transacation
with open(input_file_path, 'r') as csvfile:
    #Set reader object
    csvreader = csv.reader(csvfile, delimiter = ',')
 
    #Read the header
    csv_header = next(csvreader)
    
    #Create new column
    csv_header.append("Transaction Cost")
    portfolio_transactions.append(csv_header)

    #Iterate through the data 
    for row in csvreader:
        #Calculate transaction cost
        cost = float(row[3]) * float(row[4])
        
        #Append transaction cost to list
        row.append(cost)
        portfolio_transactions.append(row)

In [5]:
#Convert transaction list to dataframe
portfolio_df = pd.DataFrame(portfolio_transactions, columns=['Ticker', 'Transaction', 'Date', 'Transaction Price', 'Number of shares', 'Transaction Cost'])
#Drop first row (duplicate header)
portfolio_df=portfolio_df.drop(portfolio_df.index[0])
portfolio_df

,Ticker,Transaction,Date,Transaction Price,Number of shares,Transaction Cost
1,AAPL,B,3/5/12,77.8,100,7780
2,AAPL,B,4/1/13,60.57,100,6057
3,TSLA,B,9/23/13,189.9,100,18990
4,TSLA,S,11/18/13,122.38,75,9178.5
5,TSLA,B,5/9/16,208,30,6240
6,GOOG,B,8/7/17,915.39,10,9153.9
7,AAPL,S,3/16/20,240,50,12000

In [6]:
#Convert Date to datetime and set as index
portfolio_df['Date']=pd.to_datetime(portfolio_df['Date'])
portfolio_df.set_index(['Date'], inplace=True)
portfolio_df

,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost
Date,,,,,
2012-03-05,AAPL,B,77.8,100,7780
2013-04-01,AAPL,B,60.57,100,6057
2013-09-23,TSLA,B,189.9,100,18990
2013-11-18,TSLA,S,122.38,75,9178.5
2016-05-09,TSLA,B,208,30,6240
2017-08-07,GOOG,B,915.39,10,9153.9
2020-03-16,AAPL,S,240,50,12000

In [7]:
# Sort dataframe in ascending order
portfolio_df.sort_index(inplace=True)
portfolio_df

,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost
Date,,,,,
2012-03-05,AAPL,B,77.8,100,7780
2013-04-01,AAPL,B,60.57,100,6057
2013-09-23,TSLA,B,189.9,100,18990
2013-11-18,TSLA,S,122.38,75,9178.5
2016-05-09,TSLA,B,208,30,6240
2017-08-07,GOOG,B,915.39,10,9153.9
2020-03-16,AAPL,S,240,50,12000

# Pull Stock Data
Using the portfolio database, determine the number of unique stocks and pull the stock history.
* Inputs:
    * Portfolio database (portfolio_df)
* Outputs:
    * Ticker Stat database (ticker_stats_df) (Tickers as Rows)
    * Transposed Ticker Stat Database (ticker_stats_df_T) (Tickers as Columns)
    * Dailiy Closing Price database (closing_df)

In [8]:
# Set environment variables from the .env file
rel_path = Path('../../Python') / '.env'
load_dotenv(rel_path)

True

In [9]:
# Grab API Key for https://financialmodelingprep.com
stock_key = os.getenv("FINANCIAL_MODEL_KEY")

In [10]:
# Create empty list for stock tickers
stock_list=[]

In [11]:
# Determine unique stocks
group=portfolio_df.groupby('Ticker')
# Store unique stocks to stock list
group.groups.keys()
stock_list=list(group.groups)
stock_list

['AAPL', 'GOOG', 'TSLA']

In [12]:
#Create new dataframe resetting date index
portfolio2_df=portfolio_df.reset_index()
portfolio2_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost
0,2012-03-05,AAPL,B,77.8,100,7780
1,2013-04-01,AAPL,B,60.57,100,6057
2,2013-09-23,TSLA,B,189.9,100,18990
3,2013-11-18,TSLA,S,122.38,75,9178.5
4,2016-05-09,TSLA,B,208,30,6240
5,2017-08-07,GOOG,B,915.39,10,9153.9
6,2020-03-16,AAPL,S,240,50,12000

In [13]:
#Find the min dates per tikcer
min_stock_dates=portfolio2_df.groupby('Ticker').min()
min_stock_dates

,Date,Transaction,Transaction Price,Number of shares,Transaction Cost
Ticker,,,,,
AAPL,2012-03-05,B,240,100,6057.0
GOOG,2017-08-07,B,915.39,10,9153.9
TSLA,2013-09-23,B,122.38,100,6240.0

In [14]:
#Store yesterday's date
yesterday = date.today() - timedelta(days=1)
yesterday = yesterday.strftime("%Y-%m-%d")
yesterday

'2020-06-14'

In [15]:
#Define Main Loop Variables
stock_dict={}            # Create dictionary to store stock data
count=0                  # Create counter as index for looping through stock list

#For each ticker in the stock list, pull the stock data
for ticker in stock_list:
    #Define new dictionary key set per ticker
    stock_dict[ticker]={
        'PE Ratio'            : 0,
        'Profit Margin'       : 0,
        'Cash'                : 0,
        'Beta'                : 0,
        'Last Dividend'       : 0,
        'Industry'            : 0,
        'Sector'              : 0,
        'Daily Closing Price' : 0,
        }
    
######
    #Get Beta, Last Div, Industry and Sector
    url = f"https://financialmodelingprep.com/api/v3/profile/{ticker}?apikey={stock_key}"
    requests.get(url).content
    parsed = json.loads(requests.get(url).content)
    
    #Store stock data in dictionary
    stock_dict[ticker]['Beta']=parsed[0]['beta']
    stock_dict[ticker]['Last Dividend']=parsed[0]['lastDiv']
    stock_dict[ticker]['Industry']=parsed[0]['industry']
    stock_dict[ticker]['Sector']=parsed[0]['sector']
    

######
    # Grab PE Ratio
    url = f"https://financialmodelingprep.com/api/v3/key-metrics/{ticker}?apikey={stock_key}"
    requests.get(url).content
    parsed = json.loads(requests.get(url).content)
    
    # Store PE Ratio in dictionary
    stock_dict[ticker]['PE Ratio']=parsed[0]['peRatio']
    
    
######    
    # Grab Profit Margin
    url = f"https://financialmodelingprep.com/api/v3/ratios/{ticker}?apikey={stock_key}"
    requests.get(url).content
    parsed = json.loads(requests.get(url).content)
    
    # Store Profit Margin in dictionary
    stock_dict[ticker]['Profit Margin']=parsed[0]['netProfitMargin']
    
   
###### 
    # Grab Cash
    url = f"https://financialmodelingprep.com/api/v3/balance-sheet-statement/{ticker}?apikey={stock_key}"
    requests.get(url).content
    parsed = json.loads(requests.get(url).content)
    
    # Store Profit Margin in dictionary
    stock_dict[ticker]['Cash']=parsed[0]['cashAndCashEquivalents']

     
######
    #Grab the first purchase date for current ticker
    datetime_obj=datetime.strptime(str(min_stock_dates['Date'][ticker]),"%Y-%m-%d %H:%M:%S")
    date_obj=datetime_obj.date()
    first_purchase_date=str(date_obj)
    
    # Grab the Daily Closing Prices between the first purchase date and yesterday
    url = f"https://financialmodelingprep.com/api/v3/historical-price-full/{ticker}?from={first_purchase_date}&to={yesterday}&apikey={stock_key}"
    requests.get(url).content
    parsed = json.loads(requests.get(url).content)
 
    ### Daily Stock Pull Variables
    count2=0                 # Create counter as index for looping through dictionary of stock data    
    daily_dict={}            # Create empty dictionary to store daily stock data before appending to daily_list_of_dict
    daily_list_of_dict = []  # Create empty list to store dictionary info from daily_dict before storing to stock_dict

    # Loop through historical data and grab daily closing date and price
    for i in parsed['historical']:
        daily_dict['Date'] = parsed['historical'][count2]['date']
        daily_dict['Price'] = parsed['historical'][count2]['close']
        daily_list_of_dict.append(daily_dict.copy())
        count2+=1

    #Store historical stock data to stock_dict dictionary
    stock_dict[ticker]['Daily Closing Price']=daily_list_of_dict
    
    
    #increment counter
    count+=1

In [16]:
#Copy stock_dict so that main loop above doesn't have to be run multiple times
stock_dict_copy = stock_dict
stock_dict_copy

{'AAPL': {'PE Ratio': 20.81351450883162,
  'Profit Margin': 0.21238094505984456,
  'Cash': 48844000000,
  'Beta': 1.228499,
  'Last Dividend': 3.08,
  'Industry': 'Consumer Electronics',
  'Sector': 'Technology',
  'Daily Closing Price': [{'Date': '2020-06-12', 'Price': 338.8},
   {'Date': '2020-06-11', 'Price': 335.9},
   {'Date': '2020-06-10', 'Price': 352.84},
   {'Date': '2020-06-09', 'Price': 343.99},
   {'Date': '2020-06-08', 'Price': 333.46},
   {'Date': '2020-06-05', 'Price': 331.5},
   {'Date': '2020-06-04', 'Price': 322.32},
   {'Date': '2020-06-03', 'Price': 325.12},
   {'Date': '2020-06-02', 'Price': 323.34},
   {'Date': '2020-06-01', 'Price': 321.85},
   {'Date': '2020-05-29', 'Price': 317.94},
   {'Date': '2020-05-28', 'Price': 318.25},
   {'Date': '2020-05-27', 'Price': 318.11},
   {'Date': '2020-05-26', 'Price': 316.73},
   {'Date': '2020-05-22', 'Price': 318.89},
   {'Date': '2020-05-21', 'Price': 316.85},
   {'Date': '2020-05-20', 'Price': 319.23},
   {'Date': '2020-05-19', 'Price': 313.14},
   {'Date': '2020-05-18', 'Price': 314.96},
   {'Date': '2020-05-15', 'Price': 307.71},
   {'Date': '2020-05-14', 'Price': 309.54},
   {'Date': '2020-05-13', 'Price': 307.65},
   {'Date': '2020-05-12', 'Price': 311.41},
   {'Date': '2020-05-11', 'Price': 315.01},
   {'Date': '2020-05-08', 'Price': 310.13},
   {'Date': '2020-05-07', 'Price': 303.74},
   {'Date': '2020-05-06', 'Price': 300.63},
   {'Date': '2020-05-05', 'Price': 297.56},
   {'Date': '2020-05-04', 'Price': 293.16},
   {'Date': '2020-05-01', 'Price': 289.07},
   {'Date': '2020-04-30', 'Price': 293.8},
   {'Date': '2020-04-29', 'Price': 287.73},
   {'Date': '2020-04-28', 'Price': 278.58},
   {'Date': '2020-04-27', 'Price': 283.17},
   {'Date': '2020-04-24', 'Price': 282.97},
   {'Date': '2020-04-23', 'Price': 275.03},
   {'Date': '2020-04-22', 'Price': 276.1},
   {'Date': '2020-04-21', 'Price': 268.37},
   {'Date': '2020-04-20', 'Price': 276.93},
   {'Date': '2020-04-17', 'Price': 282.8},
   {'Date': '2020-04-16', 'Price': 286.69},
   {'Date': '2020-04-15', 'Price': 284.43},
   {'Date': '2020-04-14', 'Price': 287.05},
   {'Date': '2020-04-13', 'Price': 273.25},
   {'Date': '2020-04-09', 'Price': 267.99},
   {'Date': '2020-04-08', 'Price': 266.07},
   {'Date': '2020-04-07', 'Price': 259.43},
   {'Date': '2020-04-06', 'Price': 262.47},
   {'Date': '2020-04-03', 'Price': 241.41},
   {'Date': '2020-04-02', 'Price': 244.93},
   {'Date': '2020-04-01', 'Price': 240.91},
   {'Date': '2020-03-31', 'Price': 254.29},
   {'Date': '2020-03-30', 'Price': 254.81},
   {'Date': '2020-03-27', 'Price': 247.74},
   {'Date': '2020-03-26', 'Price': 258.44},
   {'Date': '2020-03-25', 'Price': 245.52},
   {'Date': '2020-03-24', 'Price': 246.88},
   {'Date': '2020-03-23', 'Price': 224.37},
   {'Date': '2020-03-20', 'Price': 229.24},
   {'Date': '2020-03-19', 'Price': 244.78},
   {'Date': '2020-03-18', 'Price': 246.67},
   {'Date': '2020-03-17', 'Price': 252.86},
   {'Date': '2020-03-16', 'Price': 242.21},
   {'Date': '2020-03-13', 'Price': 277.97},
   {'Date': '2020-03-12', 'Price': 248.23},
   {'Date': '2020-03-11', 'Price': 275.43},
   {'Date': '2020-03-10', 'Price': 285.34},
   {'Date': '2020-03-09', 'Price': 266.17},
   {'Date': '2020-03-06', 'Price': 289.03},
   {'Date': '2020-03-05', 'Price': 292.92},
   {'Date': '2020-03-04', 'Price': 302.74},
   {'Date': '2020-03-03', 'Price': 289.32},
   {'Date': '2020-03-02', 'Price': 298.81},
   {'Date': '2020-02-28', 'Price': 273.36},
   {'Date': '2020-02-27', 'Price': 273.52},
   {'Date': '2020-02-26', 'Price': 292.65},
   {'Date': '2020-02-25', 'Price': 288.08},
   {'Date': '2020-02-24', 'Price': 298.18},
   {'Date': '2020-02-21', 'Price': 313.05},
   {'Date': '2020-02-20', 'Price': 320.3},
   {'Date': '2020-02-19', 'Price': 323.62},
   {'Date': '2020-02-18', 'Price': 319.0},
   {'Date': '2020-02-14', 'Price': 324.95},
   {'Date': '2020-02-13', 'Price': 324.87},
   {'Date': '2020-02-12', 'Price': 327.2},
   {'Date': '2020-02-11', 'Price': 319.61},
   {'Date': '2020-02-10', 'Price': 321.55},
   {'Date': '2020-02-07', 'Price': 320.03},
   {'Date': '2020-02-06', 'Price': 325.21},
   {'Date': '2020-02-05', 'Price': 321.45},
   {'Date': '2020-02-04', 'Price': 318.85},
   {'Date': '2020-02-03', 'Price': 308.66},
   {'Date': '2020-01-31', 'Price': 309.51},
   {'Date': '2020-01-30', 'Price': 323.87},
   {'Date': '2020-01-29', 'Price': 324.34},
   {'Date': '2020-01-28', 'Price': 317.69},
   {'Date': '2020-01-27', 'Price': 308.95},
   {'Date': '2020-01-24', 'Price': 318.31},
   {'Date': '2020-01-23', 'Price': 319.23},
   {'Date': '2020-01-22', 'Price': 317.7},
   {'Date': '2020-01-21', 'Price': 316.57},
   {'Date': '2020-01-17', 'Price': 318.73},
   {'Date': '2020-01-16', 'Price': 315.24},
   {'Date': '2020-01-15', 'Price': 311.34},
   {'Date': '2020-01-14', 'Price': 312.68},
   {'Date': '2020-01-13', 'Price': 316.96},
   {'Date': '2020-01-10', 'Price': 310.33},
   {'Date': '2020-01-09', 'Price': 309.63},
   {'Date': '2020-01-08', 'Price': 303.19},
   {'Date': '2020-01-07', 'Price': 298.39},
   {'Date': '2020-01-06', 'Price': 299.8},
   {'Date': '2020-01-03', 'Price': 297.43},
   {'Date': '2020-01-02', 'Price': 300.35},
   {'Date': '2019-12-31', 'Price': 293.65},
   {'Date': '2019-12-30', 'Price': 291.52},
   {'Date': '2019-12-27', 'Price': 289.8},
   {'Date': '2019-12-26', 'Price': 289.91},
   {'Date': '2019-12-24', 'Price': 284.27},
   {'Date': '2019-12-23', 'Price': 284.0},
   {'Date': '2019-12-20', 'Price': 279.44},
   {'Date': '2019-12-19', 'Price': 280.02},
   {'Date': '2019-12-18', 'Price': 279.74},
   {'Date': '2019-12-17', 'Price': 280.41},
   {'Date': '2019-12-16', 'Price': 279.86},
   {'Date': '2019-12-13', 'Price': 275.15},
   {'Date': '2019-12-12', 'Price': 271.46},
   {'Date': '2019-12-11', 'Price': 270.77},
   {'Date': '2019-12-10', 'Price': 268.48},
   {'Date': '2019-12-09', 'Price': 266.92},
   {'Date': '2019-12-06', 'Price': 270.71},
   {'Date': '2019-12-05', 'Price': 265.58},
   {'Date': '2019-12-04', 'Price': 261.74},
   {'Date': '2019-12-03', 'Price': 259.45},
   {'Date': '2019-12-02', 'Price': 264.16},
   {'Date': '2019-11-29', 'Price': 267.25},
   {'Date': '2019-11-27', 'Price': 267.84},
   {'Date': '2019-11-26', 'Price': 264.29},
   {'Date': '2019-11-25', 'Price': 266.37},
   {'Date': '2019-11-22', 'Price': 261.78},
   {'Date': '2019-11-21', 'Price': 262.01},
   {'Date': '2019-11-20', 'Price': 263.19},
   {'Date': '2019-11-19', 'Price': 266.29},
   {'Date': '2019-11-18', 'Price': 267.1},
   {'Date': '2019-11-15', 'Price': 265.76},
   {'Date': '2019-11-14', 'Price': 262.64},
   {'Date': '2019-11-13', 'Price': 264.47},
   {'Date': '2019-11-12', 'Price': 261.96},
   {'Date': '2019-11-11', 'Price': 262.2},
   {'Date': '2019-11-08', 'Price': 260.14},
   {'Date': '2019-11-07', 'Price': 259.43},
   {'Date': '2019-11-06', 'Price': 257.24},
   {'Date': '2019-11-05', 'Price': 257.13},
   {'Date': '2019-11-04', 'Price': 257.5},
   {'Date': '2019-11-01', 'Price': 255.82},
   {'Date': '2019-10-31', 'Price': 248.76},
   {'Date': '2019-10-30', 'Price': 243.26},
   {'Date': '2019-10-29', 'Price': 243.29},
   {'Date': '2019-10-28', 'Price': 249.05},
   {'Date': '2019-10-25', 'Price': 246.58},
   {'Date': '2019-10-24', 'Price': 243.58},
   {'Date': '2019-10-23', 'Price': 243.18},
   {'Date': '2019-10-22', 'Price': 239.96},
   {'Date': '2019-10-21', 'Price': 240.51},
   {'Date': '2019-10-18', 'Price': 236.41},
   {'Date': '2019-10-17', 'Price': 235.28},
   {'Date': '2019-10-16', 'Price': 234.37},
   {'Date': '2019-10-15', 'Price': 235.32},
   {'Date': '2019-10-14', 'Price': 235.87},
   {'Date': '2019-10-11', 'Price': 236.21},
   {'Date': '2019-10-10', 'Price': 230.09},
   {'Date': '2019-10-09', 'Price': 227.03},
   {'Date': '2019-10-08', 'Price': 224.4},
   {'Date': '2019-10-07', 'Price': 227.06},
   {'Date': '2019-10-04', 'Price': 227.01},
   {'Date': '2019-10-03', 'Price': 220.82},
   {'Date': '2019-10-02', 'Price': 218.96},
   {'Date': '2019-10-01', 'Price': 224.59},
   {'Date': '2019-09-30', 'Price': 223.97},
   {'Date': '2019-09-27', 'Price': 218.82},
   {'Date': '2019-09-26', 'Price': 219.89},
   {'Date': '2019-09-25', 'Price': 221.03},
   {'Date': '2019-09-24', 'Price': 217.68},
   {'Date': '2019-09-23', 'Price': 218.72},
   {'Date': '2019-09-20', 'Price': 217.73},
   {'Date': '2019-09-19', 'Price': 220.96},
   {'Date': '2019-09-18', 'Price': 222.77},
   {'Date': '2019-09-17', 'Price': 220.7},
   {'Date': '2019-09-16', 'Price': 219.9},
   {'Date': '2019-09-13', 'Price': 218.75},
   {'Date': '2019-09-12', 'Price': 223.09},
   {'Date': '2019-09-11', 'Price': 223.59},
   {'Date': '2019-09-10', 'Price': 216.7},
   {'Date': '2019-09-09', 'Price': 214.17},
   {'Date': '2019-09-06', 'Price': 213.26},
   {'Date': '2019-09-05', 'Price': 213.28},
   {'Date': '2019-09-04', 'Price': 209.19},
   {'Date': '2019-09-03', 'Price': 205.7},
   {'Date': '2019-08-30', 'Price': 208.74},
   {'Date': '2019-08-29', 'Price': 209.01},
   {'Date': '2019-08-28', 'Price': 205.53},
   {'Date': '2019-08-27', 'Price': 204.16},
   {'Date': '2019-08-26', 'Price': 206.49},
   {'Date': '2019-08-23', 'Price': 202.64},
   {'Date': '2019-08-22', 'Price': 212.46},
   {'Date': '2019-08-21', 'Price': 212.64},
   {'Date': '2019-08-20', 'Price': 210.36},
   {'Date': '2019-08-19', 'Price': 210.35},
   {'Date': '2019-08-16', 'Price': 206.5},
   {'Date': '2019-08-15', 'Price': 201.74},
   {'Date': '2019-08-14', 'Price': 202.75},
   {'Date': '2019-08-13', 'Price': 208.97},
   {'Date': '2019-08-12', 'Price': 200.48},
   {'Date': '2019-08-09', 'Price': 200.99},
   {'Date': '2019-08-08', 'Price': 203.43},
   {'Date': '2019-08-07', 'Price': 199.04},
   {'Date': '2019-08-06', 'Price': 197.0},
   {'Date': '2019-08-05', 'Price': 193.34},
   {'Date': '2019-08-02', 'Price': 204.02},
   {'Date': '2019-08-01', 'Price': 208.43},
   {'Date': '2019-07-31', 'Price': 213.04},
   {'Date': '2019-07-30', 'Price': 208.78},
   {'Date': '2019-07-29', 'Price': 209.68},
   {'Date': '2019-07-26', 'Price': 207.74},
   {'Date': '2019-07-25', 'Price': 207.02},
   {'Date': '2019-07-24', 'Price': 208.67},
   {'Date': '2019-07-23', 'Price': 208.84},
   {'Date': '2019-07-22', 'Price': 207.22},
   {'Date': '2019-07-19', 'Price': 202.59},
   {'Date': '2019-07-18', 'Price': 205.66},
   {'Date': '2019-07-17', 'Price': 203.35},
   {'Date': '2019-07-16', 'Price': 204.5},
   {'Date': '2019-07-15', 'Price': 205.21},
   {'Date': '2019-07-12', 'Price': 203.3},
   {'Date': '2019-07-11', 'Price': 201.75},
   {'Date': '2019-07-10', 'Price': 203.23},
   {'Date': '2019-07-09', 'Price': 201.24},
   {'Date': '2019-07-08', 'Price': 200.02},
   {'Date': '2019-07-05', 'Price': 204.23},
   {'Date': '2019-07-03', 'Price': 204.41},
   {'Date': '2019-07-02', 'Price': 202.73},
   {'Date': '2019-07-01', 'Price': 201.55},
   {'Date': '2019-06-28', 'Price': 197.92},
   {'Date': '2019-06-27', 'Price': 199.74},
   {'Date': '2019-06-26', 'Price': 199.8},
   {'Date': '2019-06-25', 'Price': 195.57},
   {'Date': '2019-06-24', 'Price': 198.58},
   {'Date': '2019-06-21', 'Price': 198.78},
   {'Date': '2019-06-20', 'Price': 199.46},
   {'Date': '2019-06-19', 'Price': 197.87},
   {'Date': '2019-06-18', 'Price': 198.45},
   {'Date': '2019-06-17', 'Price': 193.89},
   {'Date': '2019-06-14', 'Price': 192.74},
   {'Date': '2019-06-13', 'Price': 194.15},
   {'Date': '2019-06-12', 'Price': 194.19},
   {'Date': '2019-06-11', 'Price': 194.81},
   {'Date': '2019-06-10', 'Price': 192.58},
   {'Date': '2019-06-07', 'Price': 190.15},
   {'Date': '2019-06-06', 'Price': 185.22},
   {'Date': '2019-06-05', 'Price': 182.54},
   {'Date': '2019-06-04', 'Price': 179.64},
   {'Date': '2019-06-03', 'Price': 173.3},
   {'Date': '2019-05-31', 'Price': 175.07},
   {'Date': '2019-05-30', 'Price': 178.3},
   {'Date': '2019-05-29', 'Price': 177.38},
   {'Date': '2019-05-28', 'Price': 178.23},
   {'Date': '2019-05-24', 'Price': 178.97},
   {'Date': '2019-05-23', 'Price': 179.66},
   {'Date': '2019-05-22', 'Price': 182.78},
   {'Date': '2019-05-21', 'Price': 186.6},
   {'Date': '2019-05-20', 'Price': 183.09},
   {'Date': '2019-05-17', 'Price': 189.0},
   {'Date': '2019-05-16', 'Price': 190.08},
   {'Date': '2019-05-15', 'Price': 190.92},
   {'Date': '2019-05-14', 'Price': 188.66},
   {'Date': '2019-05-13', 'Price': 185.72},
   {'Date': '2019-05-10', 'Price': 197.18},
   {'Date': '2019-05-09', 'Price': 200.72},
   {'Date': '2019-05-08', 'Price': 202.9},
   {'Date': '2019-05-07', 'Price': 202.86},
   {'Date': '2019-05-06', 'Price': 208.48},
   {'Date': '2019-05-03', 'Price': 211.75},
   {'Date': '2019-05-02', 'Price': 209.15},
   {'Date': '2019-05-01', 'Price': 210.52},
   {'Date': '2019-04-30', 'Price': 200.67},
   {'Date': '2019-04-29', 'Price': 204.61},
   {'Date': '2019-04-26', 'Price': 204.3},
   {'Date': '2019-04-25', 'Price': 205.28},
   {'Date': '2019-04-24', 'Price': 207.16},
   {'Date': '2019-04-23', 'Price': 207.48},
   {'Date': '2019-04-22', 'Price': 204.53},
   {'Date': '2019-04-18', 'Price': 203.86},
   {'Date': '2019-04-17', 'Price': 203.13},
   {'Date': '2019-04-16', 'Price': 199.25},
   {'Date': '2019-04-15', 'Price': 199.23},
   {'Date': '2019-04-12', 'Price': 198.87},
   {'Date': '2019-04-11', 'Price': 198.95},
   {'Date': '2019-04-10', 'Price': 200.62},
   {'Date': '2019-04-09', 'Price': 199.5},
   {'Date': '2019-04-08', 'Price': 200.1},
   {'Date': '2019-04-05', 'Price': 197.0},
   {'Date': '2019-04-04', 'Price': 195.69},
   {'Date': '2019-04-03', 'Price': 195.35},
   {'Date': '2019-04-02', 'Price': 194.02},
   {'Date': '2019-04-01', 'Price': 191.24},
   {'Date': '2019-03-29', 'Price': 189.95},
   {'Date': '2019-03-28', 'Price': 188.72},
   {'Date': '2019-03-27', 'Price': 188.47},
   {'Date': '2019-03-26', 'Price': 186.79},
   {'Date': '2019-03-25', 'Price': 188.74},
   {'Date': '2019-03-22', 'Price': 191.05},
   {'Date': '2019-03-21', 'Price': 195.09},
   {'Date': '2019-03-20', 'Price': 188.16},
   {'Date': '2019-03-19', 'Price': 186.53},
   {'Date': '2019-03-18', 'Price': 188.02},
   {'Date': '2019-03-15', 'Price': 186.12},
   {'Date': '2019-03-14', 'Price': 183.73},
   {'Date': '2019-03-13', 'Price': 181.71},
   {'Date': '2019-03-12', 'Price': 180.91},
   {'Date': '2019-03-11', 'Price': 178.9},
   {'Date': '2019-03-08', 'Price': 172.91},
   {'Date': '2019-03-07', 'Price': 172.5},
   {'Date': '2019-03-06', 'Price': 174.52},
   {'Date': '2019-03-05', 'Price': 175.53},
   {'Date': '2019-03-04', 'Price': 175.85},
   {'Date': '2019-03-01', 'Price': 174.97},
   {'Date': '2019-02-28', 'Price': 173.15},
   {'Date': '2019-02-27', 'Price': 174.87},
   {'Date': '2019-02-26', 'Price': 174.33},
   {'Date': '2019-02-25', 'Price': 174.23},
   {'Date': '2019-02-22', 'Price': 172.97},
   {'Date': '2019-02-21', 'Price': 171.06},
   {'Date': '2019-02-20', 'Price': 172.03},
   {'Date': '2019-02-19', 'Price': 170.93},
   {'Date': '2019-02-15', 'Price': 170.42},
   {'Date': '2019-02-14', 'Price': 170.8},
   {'Date': '2019-02-13', 'Price': 170.18},
   {'Date': '2019-02-12', 'Price': 170.89},
   {'Date': '2019-02-11', 'Price': 169.43},
   {'Date': '2019-02-08', 'Price': 170.41},
   {'Date': '2019-02-07', 'Price': 170.94},
   {'Date': '2019-02-06', 'Price': 174.24},
   {'Date': '2019-02-05', 'Price': 174.18},
   {'Date': '2019-02-04', 'Price': 171.25},
   {'Date': '2019-02-01', 'Price': 166.52},
   {'Date': '2019-01-31', 'Price': 166.44},
   {'Date': '2019-01-30', 'Price': 165.25},
   {'Date': '2019-01-29', 'Price': 154.68},
   {'Date': '2019-01-28', 'Price': 156.3},
   {'Date': '2019-01-25', 'Price': 157.76},
   {'Date': '2019-01-24', 'Price': 152.7},
   {'Date': '2019-01-23', 'Price': 153.92},
   {'Date': '2019-01-22', 'Price': 153.3},
   {'Date': '2019-01-18', 'Price': 156.82},
   {'Date': '2019-01-17', 'Price': 155.86},
   {'Date': '2019-01-16', 'Price': 154.94},
   {'Date': '2019-01-15', 'Price': 153.07},
   {'Date': '2019-01-14', 'Price': 150.0},
   {'Date': '2019-01-11', 'Price': 152.29},
   {'Date': '2019-01-10', 'Price': 153.8},
   {'Date': '2019-01-09', 'Price': 153.31},
   {'Date': '2019-01-08', 'Price': 150.75},
   {'Date': '2019-01-07', 'Price': 147.93},
   {'Date': '2019-01-04', 'Price': 148.26},
   {'Date': '2019-01-03', 'Price': 142.19},
   {'Date': '2019-01-02', 'Price': 157.92},
   {'Date': '2018-12-31', 'Price': 157.74},
   {'Date': '2018-12-28', 'Price': 156.23},
   {'Date': '2018-12-27', 'Price': 156.15},
   {'Date': '2018-12-26', 'Price': 157.17},
   {'Date': '2018-12-24', 'Price': 146.83},
   {'Date': '2018-12-21', 'Price': 150.73},
   {'Date': '2018-12-20', 'Price': 156.83},
   {'Date': '2018-12-19', 'Price': 160.89},
   {'Date': '2018-12-18', 'Price': 166.07},
   {'Date': '2018-12-17', 'Price': 163.94},
   {'Date': '2018-12-14', 'Price': 165.48},
   {'Date': '2018-12-13', 'Price': 170.95},
   {'Date': '2018-12-12', 'Price': 169.1},
   {'Date': '2018-12-11', 'Price': 168.63},
   {'Date': '2018-12-10', 'Price': 169.6},
   {'Date': '2018-12-07', 'Price': 168.49},
   {'Date': '2018-12-06', 'Price': 174.72},
   {'Date': '2018-12-04', 'Price': 176.69},
   {'Date': '2018-12-03', 'Price': 184.82},
   {'Date': '2018-11-30', 'Price': 178.58},
   {'Date': '2018-11-29', 'Price': 179.55},
   {'Date': '2018-11-28', 'Price': 180.94},
   {'Date': '2018-11-27', 'Price': 174.24},
   {'Date': '2018-11-26', 'Price': 174.62},
   {'Date': '2018-11-23', 'Price': 172.29},
   {'Date': '2018-11-21', 'Price': 176.78},
   {'Date': '2018-11-20', 'Price': 176.98},
   {'Date': '2018-11-19', 'Price': 185.86},
   {'Date': '2018-11-16', 'Price': 193.53},
   {'Date': '2018-11-15', 'Price': 191.41},
   {'Date': '2018-11-14', 'Price': 186.8},
   {'Date': '2018-11-13', 'Price': 192.23},
   {'Date': '2018-11-12', 'Price': 194.17},
   {'Date': '2018-11-09', 'Price': 204.47},
   {'Date': '2018-11-08', 'Price': 208.49},
   {'Date': '2018-11-07', 'Price': 209.95},
   {'Date': '2018-11-06', 'Price': 203.77},
   {'Date': '2018-11-05', 'Price': 201.59},
   {'Date': '2018-11-02', 'Price': 207.48},
   {'Date': '2018-11-01', 'Price': 222.22},
   {'Date': '2018-10-31', 'Price': 218.86},
   {'Date': '2018-10-30', 'Price': 213.3},
   {'Date': '2018-10-29', 'Price': 212.24},
   {'Date': '2018-10-26', 'Price': 216.3},
   {'Date': '2018-10-25', 'Price': 219.8},
   {'Date': '2018-10-24', 'Price': 215.09},
   {'Date': '2018-10-23', 'Price': 222.73},
   {'Date': '2018-10-22', 'Price': 220.65},
   {'Date': '2018-10-19', 'Price': 219.31},
   {'Date': '2018-10-18', 'Price': 216.02},
   {'Date': '2018-10-17', 'Price': 221.19},
   {'Date': '2018-10-16', 'Price': 222.15},
   {'Date': '2018-10-15', 'Price': 217.36},
   {'Date': '2018-10-12', 'Price': 222.11},
   {'Date': '2018-10-11', 'Price': 214.45},
   {'Date': '2018-10-10', 'Price': 216.36},
   {'Date': '2018-10-09', 'Price': 226.87},
   {'Date': '2018-10-08', 'Price': 223.77},
   {'Date': '2018-10-05', 'Price': 224.29},
   {'Date': '2018-10-04', 'Price': 227.99},
   {'Date': '2018-10-03', 'Price': 232.07},
   {'Date': '2018-10-02', 'Price': 229.28},
   {'Date': '2018-10-01', 'Price': 227.26},
   {'Date': '2018-09-28', 'Price': 225.74},
   {'Date': '2018-09-27', 'Price': 224.95},
   {'Date': '2018-09-26', 'Price': 220.42},
   {'Date': '2018-09-25', 'Price': 222.19},
   {'Date': '2018-09-24', 'Price': 220.79},
   {'Date': '2018-09-21', 'Price': 217.66},
   {'Date': '2018-09-20', 'Price': 220.03},
   {'Date': '2018-09-19', 'Price': 218.37},
   {'Date': '2018-09-18', 'Price': 218.24},
   {'Date': '2018-09-17', 'Price': 217.88},
   {'Date': '2018-09-14', 'Price': 223.84},
   {'Date': '2018-09-13', 'Price': 226.41},
   {'Date': '2018-09-12', 'Price': 221.07},
   {'Date': '2018-09-11', 'Price': 223.85},
   {'Date': '2018-09-10', 'Price': 218.33},
   {'Date': '2018-09-07', 'Price': 221.3},
   {'Date': '2018-09-06', 'Price': 223.1},
   {'Date': '2018-09-05', 'Price': 226.87},
   {'Date': '2018-09-04', 'Price': 228.36},
   {'Date': '2018-08-31', 'Price': 227.63},
   {'Date': '2018-08-30', 'Price': 225.03},
   {'Date': '2018-08-29', 'Price': 222.98},

In [17]:
# Create DataFrame showing Beta, P/E Ratio, Profit Margin, 
# Cash, and current Dividends per ticker
ticker_stats_df=DataFrame(stock_dict_copy)
ticker_stats_df.drop('Daily Closing Price', inplace=True)
ticker_stats_df

,AAPL,GOOG,TSLA
Beta,1.2285,1.02276,0.580101
Cash,48844000000,18498000000,6268000000
Industry,Consumer Electronics,Internet Content & Information,Auto Manufacturers
Last Dividend,3.08,0,0
PE Ratio,20.8135,14.6956,-131.582
Profit Margin,0.212381,0.212181,-0.035072
Sector,Technology,Communication Services,Consumer Cyclical

In [18]:
# Create a transpose of ticker_stats_df
ticker_stats_df_T=ticker_stats_df.T
ticker_stats_df_T=ticker_stats_df_T[['PE Ratio', 'Profit Margin', 'Cash', 'Beta', 'Last Dividend', 'Industry', 'Sector']]
ticker_stats_df_T

,PE Ratio,Profit Margin,Cash,Beta,Last Dividend,Industry,Sector
AAPL,20.8135,0.212381,48844000000,1.2285,3.08,Consumer Electronics,Technology
GOOG,14.6956,0.212181,18498000000,1.02276,0,Internet Content & Information,Communication Services
TSLA,-131.582,-0.035072,6268000000,0.580101,0,Auto Manufacturers,Consumer Cyclical

In [19]:
# Closing Data

In [20]:
# Create DataFrame showing Daily Closing Price per ticker
daily_closing_df=DataFrame(stock_dict_copy)
daily_closing_df.drop(['Beta', 'Cash', 'Industry', 'Last Dividend', 'PE Ratio', 'Profit Margin', 'Sector'], inplace=True)
daily_closing_df

,AAPL,GOOG,TSLA
Daily Closing Price,"[{'Date': '2020-06-12', 'Price': 338.8}, {'Dat...","[{'Date': '2020-06-12', 'Price': 1413.18}, {'D...","[{'Date': '2020-06-12', 'Price': 935.28}, {'Da..."

In [21]:
aapl_df = pd.DataFrame(daily_closing_df['AAPL'][0])
#aapl_df.rename(columns={'Date' : 'AAPL Closing Date', 'Price' : 'AAPL Closing Price'}, inplace=True)
aapl_df.rename(columns={'Price' : 'AAPL Closing Price'}, inplace=True)
aapl_df.head()

         Date  AAPL Closing Price
0  2020-06-12              338.80
1  2020-06-11              335.90
2  2020-06-10              352.84
3  2020-06-09              343.99
4  2020-06-08              333.46

In [22]:
goog_df = pd.DataFrame(daily_closing_df['GOOG'][0])
#goog_df.rename(columns={'Date' : 'GOOG Closing Date', 'Price' : 'GOOG Closing Price'}, inplace=True)
goog_df.rename(columns={'Price' : 'GOOG Closing Price'}, inplace=True)
goog_df.head()

         Date  GOOG Closing Price
0  2020-06-12             1413.18
1  2020-06-11             1403.84
2  2020-06-10             1465.85
3  2020-06-09             1456.16
4  2020-06-08             1446.61

In [23]:
tsla_df = pd.DataFrame(daily_closing_df['TSLA'][0])
#tsla_df.rename(columns={'Date' : 'TSLA Closing Date', 'Price' : 'TSLA Closing Price'}, inplace=True)
tsla_df.rename(columns={'Price' : 'TSLA Closing Price'}, inplace=True)
tsla_df.head()

         Date  TSLA Closing Price
0  2020-06-12              935.28
1  2020-06-11              972.84
2  2020-06-10             1025.05
3  2020-06-09              940.67
4  2020-06-08              949.92

In [24]:
closing_df = aapl_df.set_index('Date').join(goog_df.set_index('Date')).join(tsla_df.set_index('Date'))
closing_df.head()

            AAPL Closing Price  GOOG Closing Price  TSLA Closing Price
Date
2020-06-12              338.80             1413.18              935.28
2020-06-11              335.90             1403.84              972.84
2020-06-10              352.84             1465.85             1025.05
2020-06-09              343.99             1456.16              940.67
2020-06-08              333.46             1446.61              949.92

# Insert Alex's Code

In [271]:
# Convert daily closing price data (stock_dict_copy['Daily Closing Price'])
# into a new dataframe (closing_price_df) with only Date, Ticker, and Close columns
date=[]
price=[]
stock_name=[]

for stock in stock_dict_copy:
    for d in stock_dict_copy[stock]['Daily Closing Price']:
        stock_name.append(stock)
        date.append(datetime.strptime(d['Date'],'%Y-%m-%d'))
        price.append(d['Price'])
        
closing_price_df= pd.DataFrame(list(zip(date, stock_name, price)), columns=['Date', 'Ticker', 'Close'])
closing_price_df

           Date Ticker   Close
0    2020-06-12   AAPL  338.80
1    2020-06-11   AAPL  335.90
2    2020-06-10   AAPL  352.84
3    2020-06-09   AAPL  343.99
4    2020-06-08   AAPL  333.46
5    2020-06-05   AAPL  331.50
6    2020-06-04   AAPL  322.32
7    2020-06-03   AAPL  325.12
8    2020-06-02   AAPL  323.34
9    2020-06-01   AAPL  321.85
10   2020-05-29   AAPL  317.94
11   2020-05-28   AAPL  318.25
12   2020-05-27   AAPL  318.11
13   2020-05-26   AAPL  316.73
14   2020-05-22   AAPL  318.89
15   2020-05-21   AAPL  316.85
16   2020-05-20   AAPL  319.23
17   2020-05-19   AAPL  313.14
18   2020-05-18   AAPL  314.96
19   2020-05-15   AAPL  307.71
20   2020-05-14   AAPL  309.54
21   2020-05-13   AAPL  307.65
22   2020-05-12   AAPL  311.41
23   2020-05-11   AAPL  315.01
24   2020-05-08   AAPL  310.13
25   2020-05-07   AAPL  303.74
26   2020-05-06   AAPL  300.63
27   2020-05-05   AAPL  297.56
28   2020-05-04   AAPL  293.16
29   2020-05-01   AAPL  289.07
...         ...    ...     ...
4464 2013-11-01   TSLA  162.17
4465 2013-10-31   TSLA  159.94
4466 2013-10-30   TSLA  159.22
4467 2013-10-29   TSLA  164.47
4468 2013-10-28   TSLA  162.86
4469 2013-10-25   TSLA  169.66
4470 2013-10-24   TSLA  173.15
4471 2013-10-23   TSLA  164.50
4472 2013-10-22   TSLA  171.54
4473 2013-10-21   TSLA  172.60
4474 2013-10-18   TSLA  183.40
4475 2013-10-17   TSLA  182.80
4476 2013-10-16   TSLA  183.56
4477 2013-10-15   TSLA  183.94
4478 2013-10-14   TSLA  179.72
4479 2013-10-11   TSLA  178.70
4480 2013-10-10   TSLA  172.93
4481 2013-10-09   TSLA  168.78
4482 2013-10-08   TSLA  174.73
4483 2013-10-07   TSLA  183.07
4484 2013-10-04   TSLA  180.98
4485 2013-10-03   TSLA  173.31
4486 2013-10-02   TSLA  180.95
4487 2013-10-01   TSLA  193.00
4488 2013-09-30   TSLA  193.37
4489 2013-09-27   TSLA  190.90
4490 2013-09-26   TSLA  188.64
4491 2013-09-25   TSLA  185.24
4492 2013-09-24   TSLA  182.33
4493 2013-09-23   TSLA  181.11

[4494 rows x 3 columns]

In [272]:
closing_price_df=closing_price_df.sort_values('Date')
closing_price_df

           Date Ticker    Close
2082 2012-03-05   AAPL    76.17
2081 2012-03-06   AAPL    75.75
2080 2012-03-07   AAPL    75.81
2079 2012-03-08   AAPL    77.43
2078 2012-03-09   AAPL    77.88
2077 2012-03-12   AAPL    78.86
2076 2012-03-13   AAPL    81.16
2075 2012-03-14   AAPL    84.23
2074 2012-03-15   AAPL    83.65
2073 2012-03-16   AAPL    83.65
2072 2012-03-19   AAPL    85.87
2071 2012-03-20   AAPL    86.57
2070 2012-03-21   AAPL    86.07
2069 2012-03-22   AAPL    85.62
2068 2012-03-23   AAPL    85.15
2067 2012-03-26   AAPL    86.71
2066 2012-03-27   AAPL    87.78
2065 2012-03-28   AAPL    88.23
2064 2012-03-29   AAPL    87.12
2063 2012-03-30   AAPL    85.65
2062 2012-04-02   AAPL    88.38
2061 2012-04-03   AAPL    89.90
2060 2012-04-04   AAPL    89.19
2059 2012-04-05   AAPL    90.53
2058 2012-04-09   AAPL    90.89
2057 2012-04-10   AAPL    89.78
2056 2012-04-11   AAPL    89.46
2055 2012-04-12   AAPL    88.97
2054 2012-04-13   AAPL    86.46
2053 2012-04-16   AAPL    82.88
...         ...    ...      ...
9    2020-06-01   AAPL   321.85
2092 2020-06-01   GOOG  1431.82
2810 2020-06-01   TSLA   898.10
2809 2020-06-02   TSLA   881.56
8    2020-06-02   AAPL   323.34
2091 2020-06-02   GOOG  1439.22
2808 2020-06-03   TSLA   882.96
7    2020-06-03   AAPL   325.12
2090 2020-06-03   GOOG  1436.38
6    2020-06-04   AAPL   322.32
2089 2020-06-04   GOOG  1412.18
2807 2020-06-04   TSLA   864.38
2088 2020-06-05   GOOG  1438.39
5    2020-06-05   AAPL   331.50
2806 2020-06-05   TSLA   885.66
4    2020-06-08   AAPL   333.46
2087 2020-06-08   GOOG  1446.61
2805 2020-06-08   TSLA   949.92
2804 2020-06-09   TSLA   940.67
2086 2020-06-09   GOOG  1456.16
3    2020-06-09   AAPL   343.99
2803 2020-06-10   TSLA  1025.05
2085 2020-06-10   GOOG  1465.85
2    2020-06-10   AAPL   352.84
2084 2020-06-11   GOOG  1403.84
1    2020-06-11   AAPL   335.90
2802 2020-06-11   TSLA   972.84
2801 2020-06-12   TSLA   935.28
2083 2020-06-12   GOOG  1413.18
0    2020-06-12   AAPL   338.80

[4494 rows x 3 columns]

In [273]:
#Merge the input portfolio dataframe to the closing price dataframe
portfolio3_df = pd.merge(portfolio_df, closing_price_df, how='right', left_on=['Date', 'Ticker'], right_on=['Date', 'Ticker'])
portfolio3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close
0,2012-03-05,AAPL,B,77.8,100,7780,76.17
1,2013-04-01,AAPL,B,60.57,100,6057,61.27
2,2013-09-23,TSLA,B,189.9,100,18990,181.11
3,2013-11-18,TSLA,S,122.38,75,9178.5,121.58
4,2016-05-09,TSLA,B,208,30,6240,208.92
5,2017-08-07,GOOG,B,915.39,10,9153.9,929.36
6,2020-03-16,AAPL,S,240,50,12000,242.21
7,2012-03-06,AAPL,NaN,NaN,NaN,NaN,75.75
8,2012-03-07,AAPL,NaN,NaN,NaN,NaN,75.81
9,2012-03-08,AAPL,NaN,NaN,NaN,NaN,77.43
10,2012-03-09,AAPL,NaN,NaN,NaN,NaN,77.88
11,2012-03-12,AAPL,NaN,NaN,NaN,NaN,78.86
12,2012-03-13,AAPL,NaN,NaN,NaN,NaN,81.16
13,2012-03-14,AAPL,NaN,NaN,NaN,NaN,84.23
14,2012-03-15,AAPL,NaN,NaN,NaN,NaN,83.65
15,2012-03-16,AAPL,NaN,NaN,NaN,NaN,83.65
16,2012-03-19,AAPL,NaN,NaN,NaN,NaN,85.87
17,2012-03-20,AAPL,NaN,NaN,NaN,NaN,86.57
18,2012-03-21,AAPL,NaN,NaN,NaN,NaN,86.07
19,2012-03-22,AAPL,NaN,NaN,NaN,NaN,85.62
20,2012-03-23,AAPL,NaN,NaN,NaN,NaN,85.15
21,2012-03-26,AAPL,NaN,NaN,NaN,NaN,86.71
22,2012-03-27,AAPL,NaN,NaN,NaN,NaN,87.78
23,2012-03-28,AAPL,NaN,NaN,NaN,NaN,88.23
24,2012-03-29,AAPL,NaN,NaN,NaN,NaN,87.12
25,2012-03-30,AAPL,NaN,NaN,NaN,NaN,85.65
26,2012-04-02,AAPL,NaN,NaN,NaN,NaN,88.38
27,2012-04-03,AAPL,NaN,NaN,NaN,NaN,89.90
28,2012-04-04,AAPL,NaN,NaN,NaN,NaN,89.19
29,2012-04-05,AAPL,NaN,NaN,NaN,NaN,90.53
...,...,...,...,...,...,...,...
4464,2020-06-01,AAPL,NaN,NaN,NaN,NaN,321.85
4465,2020-06-01,GOOG,NaN,NaN,NaN,NaN,1431.82
4466,2020-06-01,TSLA,NaN,NaN,NaN,NaN,898.10
4467,2020-06-02,TSLA,NaN,NaN,NaN,NaN,881.56
4468,2020-06-02,AAPL,NaN,NaN,NaN,NaN,323.34
4469,2020-06-02,GOOG,NaN,NaN,NaN,NaN,1439.22
4470,2020-06-03,TSLA,NaN,NaN,NaN,NaN,882.96
4471,2020-06-03,AAPL,NaN,NaN,NaN,NaN,325.12
4472,2020-06-03,GOOG,NaN,NaN,NaN,NaN,1436.38
4473,2020-06-04,AAPL,NaN,NaN,NaN,NaN,322.32
4474,2020-06-04,GOOG,NaN,NaN,NaN,NaN,1412.18
4475,2020-06-04,TSLA,NaN,NaN,NaN,NaN,864.38
4476,2020-06-05,GOOG,NaN,NaN,NaN,NaN,1438.39
4477,2020-06-05,AAPL,NaN,NaN,NaN,NaN,331.50
4478,2020-06-05,TSLA,NaN,NaN,NaN,NaN,885.66
4479,2020-06-08,AAPL,NaN,NaN,NaN,NaN,333.46
4480,2020-06-08,GOOG,NaN,NaN,NaN,NaN,1446.61
4481,2020-06-08,TSLA,NaN,NaN,NaN,NaN,949.92
4482,2020-06-09,TSLA,NaN,NaN,NaN,NaN,940.67
4483,2020-06-09,GOOG,NaN,NaN,NaN,NaN,1456.16
4484,2020-06-09,AAPL,NaN,NaN,NaN,NaN,343.99
4485,2020-06-10,TSLA,NaN,NaN,NaN,NaN,1025.05
4486,2020-06-10,GOOG,NaN,NaN,NaN,NaN,1465.85
4487,2020-06-10,AAPL,NaN,NaN,NaN,NaN,352.84
4488,2020-06-11,GOOG,NaN,NaN,NaN,NaN,1403.84
4489,2020-06-11,AAPL,NaN,NaN,NaN,NaN,335.90
4490,2020-06-11,TSLA,NaN,NaN,NaN,NaN,972.84
4491,2020-06-12,TSLA,NaN,NaN,NaN,NaN,935.28
4492,2020-06-12,GOOG,NaN,NaN,NaN,NaN,1413.18
4493,2020-06-12,AAPL,NaN,NaN,NaN,NaN,338.80

In [274]:
portfolio3_df=portfolio3_df.sort_values('Date')
portfolio3_df=portfolio3_df.reset_index(drop=True)
portfolio3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close
0,2012-03-05,AAPL,B,77.8,100,7780,76.17
1,2012-03-06,AAPL,NaN,NaN,NaN,NaN,75.75
2,2012-03-07,AAPL,NaN,NaN,NaN,NaN,75.81
3,2012-03-08,AAPL,NaN,NaN,NaN,NaN,77.43
4,2012-03-09,AAPL,NaN,NaN,NaN,NaN,77.88
5,2012-03-12,AAPL,NaN,NaN,NaN,NaN,78.86
6,2012-03-13,AAPL,NaN,NaN,NaN,NaN,81.16
7,2012-03-14,AAPL,NaN,NaN,NaN,NaN,84.23
8,2012-03-15,AAPL,NaN,NaN,NaN,NaN,83.65
9,2012-03-16,AAPL,NaN,NaN,NaN,NaN,83.65
10,2012-03-19,AAPL,NaN,NaN,NaN,NaN,85.87
11,2012-03-20,AAPL,NaN,NaN,NaN,NaN,86.57
12,2012-03-21,AAPL,NaN,NaN,NaN,NaN,86.07
13,2012-03-22,AAPL,NaN,NaN,NaN,NaN,85.62
14,2012-03-23,AAPL,NaN,NaN,NaN,NaN,85.15
15,2012-03-26,AAPL,NaN,NaN,NaN,NaN,86.71
16,2012-03-27,AAPL,NaN,NaN,NaN,NaN,87.78
17,2012-03-28,AAPL,NaN,NaN,NaN,NaN,88.23
18,2012-03-29,AAPL,NaN,NaN,NaN,NaN,87.12
19,2012-03-30,AAPL,NaN,NaN,NaN,NaN,85.65
20,2012-04-02,AAPL,NaN,NaN,NaN,NaN,88.38
21,2012-04-03,AAPL,NaN,NaN,NaN,NaN,89.90
22,2012-04-04,AAPL,NaN,NaN,NaN,NaN,89.19
23,2012-04-05,AAPL,NaN,NaN,NaN,NaN,90.53
24,2012-04-09,AAPL,NaN,NaN,NaN,NaN,90.89
25,2012-04-10,AAPL,NaN,NaN,NaN,NaN,89.78
26,2012-04-11,AAPL,NaN,NaN,NaN,NaN,89.46
27,2012-04-12,AAPL,NaN,NaN,NaN,NaN,88.97
28,2012-04-13,AAPL,NaN,NaN,NaN,NaN,86.46
29,2012-04-16,AAPL,NaN,NaN,NaN,NaN,82.88
...,...,...,...,...,...,...,...
4464,2020-06-01,AAPL,NaN,NaN,NaN,NaN,321.85
4465,2020-06-01,GOOG,NaN,NaN,NaN,NaN,1431.82
4466,2020-06-01,TSLA,NaN,NaN,NaN,NaN,898.10
4467,2020-06-02,TSLA,NaN,NaN,NaN,NaN,881.56
4468,2020-06-02,AAPL,NaN,NaN,NaN,NaN,323.34
4469,2020-06-02,GOOG,NaN,NaN,NaN,NaN,1439.22
4470,2020-06-03,AAPL,NaN,NaN,NaN,NaN,325.12
4471,2020-06-03,TSLA,NaN,NaN,NaN,NaN,882.96
4472,2020-06-03,GOOG,NaN,NaN,NaN,NaN,1436.38
4473,2020-06-04,GOOG,NaN,NaN,NaN,NaN,1412.18
4474,2020-06-04,AAPL,NaN,NaN,NaN,NaN,322.32
4475,2020-06-04,TSLA,NaN,NaN,NaN,NaN,864.38
4476,2020-06-05,AAPL,NaN,NaN,NaN,NaN,331.50
4477,2020-06-05,GOOG,NaN,NaN,NaN,NaN,1438.39
4478,2020-06-05,TSLA,NaN,NaN,NaN,NaN,885.66
4479,2020-06-08,GOOG,NaN,NaN,NaN,NaN,1446.61
4480,2020-06-08,AAPL,NaN,NaN,NaN,NaN,333.46
4481,2020-06-08,TSLA,NaN,NaN,NaN,NaN,949.92
4482,2020-06-09,GOOG,NaN,NaN,NaN,NaN,1456.16
4483,2020-06-09,TSLA,NaN,NaN,NaN,NaN,940.67
4484,2020-06-09,AAPL,NaN,NaN,NaN,NaN,343.99
4485,2020-06-10,GOOG,NaN,NaN,NaN,NaN,1465.85
4486,2020-06-10,TSLA,NaN,NaN,NaN,NaN,1025.05
4487,2020-06-10,AAPL,NaN,NaN,NaN,NaN,352.84
4488,2020-06-11,AAPL,NaN,NaN,NaN,NaN,335.90
4489,2020-06-11,GOOG,NaN,NaN,NaN,NaN,1403.84
4490,2020-06-11,TSLA,NaN,NaN,NaN,NaN,972.84
4491,2020-06-12,GOOG,NaN,NaN,NaN,NaN,1413.18
4492,2020-06-12,TSLA,NaN,NaN,NaN,NaN,935.28
4493,2020-06-12,AAPL,NaN,NaN,NaN,NaN,338.80

In [275]:
portfolio3_df['Number of shares']=portfolio3_df['Number of shares'].fillna(0)
portfolio3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close
0,2012-03-05,AAPL,B,77.8,100,7780,76.17
1,2012-03-06,AAPL,NaN,NaN,0,NaN,75.75
2,2012-03-07,AAPL,NaN,NaN,0,NaN,75.81
3,2012-03-08,AAPL,NaN,NaN,0,NaN,77.43
4,2012-03-09,AAPL,NaN,NaN,0,NaN,77.88
5,2012-03-12,AAPL,NaN,NaN,0,NaN,78.86
6,2012-03-13,AAPL,NaN,NaN,0,NaN,81.16
7,2012-03-14,AAPL,NaN,NaN,0,NaN,84.23
8,2012-03-15,AAPL,NaN,NaN,0,NaN,83.65
9,2012-03-16,AAPL,NaN,NaN,0,NaN,83.65
10,2012-03-19,AAPL,NaN,NaN,0,NaN,85.87
11,2012-03-20,AAPL,NaN,NaN,0,NaN,86.57
12,2012-03-21,AAPL,NaN,NaN,0,NaN,86.07
13,2012-03-22,AAPL,NaN,NaN,0,NaN,85.62
14,2012-03-23,AAPL,NaN,NaN,0,NaN,85.15
15,2012-03-26,AAPL,NaN,NaN,0,NaN,86.71
16,2012-03-27,AAPL,NaN,NaN,0,NaN,87.78
17,2012-03-28,AAPL,NaN,NaN,0,NaN,88.23
18,2012-03-29,AAPL,NaN,NaN,0,NaN,87.12
19,2012-03-30,AAPL,NaN,NaN,0,NaN,85.65
20,2012-04-02,AAPL,NaN,NaN,0,NaN,88.38
21,2012-04-03,AAPL,NaN,NaN,0,NaN,89.90
22,2012-04-04,AAPL,NaN,NaN,0,NaN,89.19
23,2012-04-05,AAPL,NaN,NaN,0,NaN,90.53
24,2012-04-09,AAPL,NaN,NaN,0,NaN,90.89
25,2012-04-10,AAPL,NaN,NaN,0,NaN,89.78
26,2012-04-11,AAPL,NaN,NaN,0,NaN,89.46
27,2012-04-12,AAPL,NaN,NaN,0,NaN,88.97
28,2012-04-13,AAPL,NaN,NaN,0,NaN,86.46
29,2012-04-16,AAPL,NaN,NaN,0,NaN,82.88
...,...,...,...,...,...,...,...
4464,2020-06-01,AAPL,NaN,NaN,0,NaN,321.85
4465,2020-06-01,GOOG,NaN,NaN,0,NaN,1431.82
4466,2020-06-01,TSLA,NaN,NaN,0,NaN,898.10
4467,2020-06-02,TSLA,NaN,NaN,0,NaN,881.56
4468,2020-06-02,AAPL,NaN,NaN,0,NaN,323.34
4469,2020-06-02,GOOG,NaN,NaN,0,NaN,1439.22
4470,2020-06-03,AAPL,NaN,NaN,0,NaN,325.12
4471,2020-06-03,TSLA,NaN,NaN,0,NaN,882.96
4472,2020-06-03,GOOG,NaN,NaN,0,NaN,1436.38
4473,2020-06-04,GOOG,NaN,NaN,0,NaN,1412.18
4474,2020-06-04,AAPL,NaN,NaN,0,NaN,322.32
4475,2020-06-04,TSLA,NaN,NaN,0,NaN,864.38
4476,2020-06-05,AAPL,NaN,NaN,0,NaN,331.50
4477,2020-06-05,GOOG,NaN,NaN,0,NaN,1438.39
4478,2020-06-05,TSLA,NaN,NaN,0,NaN,885.66
4479,2020-06-08,GOOG,NaN,NaN,0,NaN,1446.61
4480,2020-06-08,AAPL,NaN,NaN,0,NaN,333.46
4481,2020-06-08,TSLA,NaN,NaN,0,NaN,949.92
4482,2020-06-09,GOOG,NaN,NaN,0,NaN,1456.16
4483,2020-06-09,TSLA,NaN,NaN,0,NaN,940.67
4484,2020-06-09,AAPL,NaN,NaN,0,NaN,343.99
4485,2020-06-10,GOOG,NaN,NaN,0,NaN,1465.85
4486,2020-06-10,TSLA,NaN,NaN,0,NaN,1025.05
4487,2020-06-10,AAPL,NaN,NaN,0,NaN,352.84
4488,2020-06-11,AAPL,NaN,NaN,0,NaN,335.90
4489,2020-06-11,GOOG,NaN,NaN,0,NaN,1403.84
4490,2020-06-11,TSLA,NaN,NaN,0,NaN,972.84
4491,2020-06-12,GOOG,NaN,NaN,0,NaN,1413.18
4492,2020-06-12,TSLA,NaN,NaN,0,NaN,935.28
4493,2020-06-12,AAPL,NaN,NaN,0,NaN,338.80

In [276]:
# Convert Number of shares and Transaction Price to float
portfolio3_df['Number of shares']=portfolio3_df['Number of shares'].astype(float)
portfolio3_df['Transaction Price']=portfolio3_df['Transaction Price'].astype(float)

In [277]:
# Calculate total number of shares
portfolio3_df['Net Shares'] = portfolio3_df.apply(lambda row: row['Number of shares'] if row.Transaction == "B" else row['Number of shares'] * -1, axis=1)
portfolio3_df['Cummulative Shares'] = portfolio3_df[['Net Shares','Ticker']].groupby('Ticker').cumsum()
# portfolio3_df.drop('Net Shares', inplace=True)
portfolio3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close,Net Shares,Cummulative Shares
0,2012-03-05,AAPL,B,77.8,100.0,7780,76.17,100.0,100.0
1,2012-03-06,AAPL,NaN,NaN,0.0,NaN,75.75,-0.0,100.0
2,2012-03-07,AAPL,NaN,NaN,0.0,NaN,75.81,-0.0,100.0
3,2012-03-08,AAPL,NaN,NaN,0.0,NaN,77.43,-0.0,100.0
4,2012-03-09,AAPL,NaN,NaN,0.0,NaN,77.88,-0.0,100.0
5,2012-03-12,AAPL,NaN,NaN,0.0,NaN,78.86,-0.0,100.0
6,2012-03-13,AAPL,NaN,NaN,0.0,NaN,81.16,-0.0,100.0
7,2012-03-14,AAPL,NaN,NaN,0.0,NaN,84.23,-0.0,100.0
8,2012-03-15,AAPL,NaN,NaN,0.0,NaN,83.65,-0.0,100.0
9,2012-03-16,AAPL,NaN,NaN,0.0,NaN,83.65,-0.0,100.0
10,2012-03-19,AAPL,NaN,NaN,0.0,NaN,85.87,-0.0,100.0
11,2012-03-20,AAPL,NaN,NaN,0.0,NaN,86.57,-0.0,100.0
12,2012-03-21,AAPL,NaN,NaN,0.0,NaN,86.07,-0.0,100.0
13,2012-03-22,AAPL,NaN,NaN,0.0,NaN,85.62,-0.0,100.0
14,2012-03-23,AAPL,NaN,NaN,0.0,NaN,85.15,-0.0,100.0
15,2012-03-26,AAPL,NaN,NaN,0.0,NaN,86.71,-0.0,100.0
16,2012-03-27,AAPL,NaN,NaN,0.0,NaN,87.78,-0.0,100.0
17,2012-03-28,AAPL,NaN,NaN,0.0,NaN,88.23,-0.0,100.0
18,2012-03-29,AAPL,NaN,NaN,0.0,NaN,87.12,-0.0,100.0
19,2012-03-30,AAPL,NaN,NaN,0.0,NaN,85.65,-0.0,100.0
20,2012-04-02,AAPL,NaN,NaN,0.0,NaN,88.38,-0.0,100.0
21,2012-04-03,AAPL,NaN,NaN,0.0,NaN,89.90,-0.0,100.0
22,2012-04-04,AAPL,NaN,NaN,0.0,NaN,89.19,-0.0,100.0
23,2012-04-05,AAPL,NaN,NaN,0.0,NaN,90.53,-0.0,100.0
24,2012-04-09,AAPL,NaN,NaN,0.0,NaN,90.89,-0.0,100.0
25,2012-04-10,AAPL,NaN,NaN,0.0,NaN,89.78,-0.0,100.0
26,2012-04-11,AAPL,NaN,NaN,0.0,NaN,89.46,-0.0,100.0
27,2012-04-12,AAPL,NaN,NaN,0.0,NaN,88.97,-0.0,100.0
28,2012-04-13,AAPL,NaN,NaN,0.0,NaN,86.46,-0.0,100.0
29,2012-04-16,AAPL,NaN,NaN,0.0,NaN,82.88,-0.0,100.0
...,...,...,...,...,...,...,...,...,...
4464,2020-06-01,AAPL,NaN,NaN,0.0,NaN,321.85,-0.0,150.0
4465,2020-06-01,GOOG,NaN,NaN,0.0,NaN,1431.82,-0.0,10.0
4466,2020-06-01,TSLA,NaN,NaN,0.0,NaN,898.10,-0.0,55.0
4467,2020-06-02,TSLA,NaN,NaN,0.0,NaN,881.56,-0.0,55.0
4468,2020-06-02,AAPL,NaN,NaN,0.0,NaN,323.34,-0.0,150.0
4469,2020-06-02,GOOG,NaN,NaN,0.0,NaN,1439.22,-0.0,10.0
4470,2020-06-03,AAPL,NaN,NaN,0.0,NaN,325.12,-0.0,150.0
4471,2020-06-03,TSLA,NaN,NaN,0.0,NaN,882.96,-0.0,55.0
4472,2020-06-03,GOOG,NaN,NaN,0.0,NaN,1436.38,-0.0,10.0
4473,2020-06-04,GOOG,NaN,NaN,0.0,NaN,1412.18,-0.0,10.0
4474,2020-06-04,AAPL,NaN,NaN,0.0,NaN,322.32,-0.0,150.0
4475,2020-06-04,TSLA,NaN,NaN,0.0,NaN,864.38,-0.0,55.0
4476,2020-06-05,AAPL,NaN,NaN,0.0,NaN,331.50,-0.0,150.0
4477,2020-06-05,GOOG,NaN,NaN,0.0,NaN,1438.39,-0.0,10.0
4478,2020-06-05,TSLA,NaN,NaN,0.0,NaN,885.66,-0.0,55.0
4479,2020-06-08,GOOG,NaN,NaN,0.0,NaN,1446.61,-0.0,10.0
4480,2020-06-08,AAPL,NaN,NaN,0.0,NaN,333.46,-0.0,150.0
4481,2020-06-08,TSLA,NaN,NaN,0.0,NaN,949.92,-0.0,55.0
4482,2020-06-09,GOOG,NaN,NaN,0.0,NaN,1456.16,-0.0,10.0
4483,2020-06-09,TSLA,NaN,NaN,0.0,NaN,940.67,-0.0,55.0
4484,2020-06-09,AAPL,NaN,NaN,0.0,NaN,343.99,-0.0,150.0
4485,2020-06-10,GOOG,NaN,NaN,0.0,NaN,1465.85,-0.0,10.0
4486,2020-06-10,TSLA,NaN,NaN,0.0,NaN,1025.05,-0.0,55.0
4487,2020-06-10,AAPL,NaN,NaN,0.0,NaN,352.84,-0.0,150.0
4488,2020-06-11,AAPL,NaN,NaN,0.0,NaN,335.90,-0.0,150.0
4489,2020-06-11,GOOG,NaN,NaN,0.0,NaN,1403.84,-0.0,10.0
4490,2020-06-11,TSLA,NaN,NaN,0.0,NaN,972.84,-0.0,55.0
4491,2020-06-12,GOOG,NaN,NaN,0.0,NaN,1413.18,-0.0,10.0
4492,2020-06-12,TSLA,NaN,NaN,0.0,NaN,935.28,-0.0,55.0
4493,2020-06-12,AAPL,NaN,NaN,0.0,NaN,338.80,-0.0,150.0

In [288]:
# Create function to calculate Avg Cost per Share (By Individual Ticker DF)
def avg_price(df):
    first_time=0
    avg_price_list=[]
    tran=len(df)

    for i in range(tran):
        if first_time == 0:
            avg_price = df['Transaction Price'][i]
            prev_trans_price = df['Transaction Price'][i]
            prev_trans_cost = df['Transaction Cost'][i]
            prev_trans_shares = df['Number of shares'][i]
            first_time=1
        else:
            if df['Transaction'][i] == "B":
                avg_price = (prev_trans_price * prev_trans_shares + df['Transaction Cost'][i])/(df['Cummulative Shares'][i])
#                 avg_price = (prev_trans_cost + df['Transaction Cost'][i])/(df['Cummulative Shares'][i])
                prev_trans_cost = prev_trans_cost + df['Transaction Cost'][i]
            elif df['Transaction'][i] == "S":
                avg_price = avg_price
                prev_trans_price = prev_trans_price
                prev_trans_cost = prev_trans_cost
                prev_trans_shares = prev_trans_shares - df['Number of shares'][i]
            else:
                avg_price = avg_price

        avg_price_list.append(avg_price)

    return avg_price_list

In [289]:
# Create AAPL DataFrame
aapl3_df = portfolio3_df[portfolio3_df['Ticker']=='AAPL']
aapl3_df=aapl3_df.reset_index(drop=True)

# Call avg_price function to append Avg Price per Share to dataframe
aapl3_df['Avg Price per Share']=pd.DataFrame(avg_price(aapl3_df))
aapl3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close,Net Shares,Cummulative Shares,Avg Price per Share
0,2012-03-05,AAPL,B,77.8,100.0,7780,76.17,100.0,100.0,77.800
1,2012-03-06,AAPL,NaN,NaN,0.0,NaN,75.75,-0.0,100.0,77.800
2,2012-03-07,AAPL,NaN,NaN,0.0,NaN,75.81,-0.0,100.0,77.800
3,2012-03-08,AAPL,NaN,NaN,0.0,NaN,77.43,-0.0,100.0,77.800
4,2012-03-09,AAPL,NaN,NaN,0.0,NaN,77.88,-0.0,100.0,77.800
5,2012-03-12,AAPL,NaN,NaN,0.0,NaN,78.86,-0.0,100.0,77.800
6,2012-03-13,AAPL,NaN,NaN,0.0,NaN,81.16,-0.0,100.0,77.800
7,2012-03-14,AAPL,NaN,NaN,0.0,NaN,84.23,-0.0,100.0,77.800
8,2012-03-15,AAPL,NaN,NaN,0.0,NaN,83.65,-0.0,100.0,77.800
9,2012-03-16,AAPL,NaN,NaN,0.0,NaN,83.65,-0.0,100.0,77.800
10,2012-03-19,AAPL,NaN,NaN,0.0,NaN,85.87,-0.0,100.0,77.800
11,2012-03-20,AAPL,NaN,NaN,0.0,NaN,86.57,-0.0,100.0,77.800
12,2012-03-21,AAPL,NaN,NaN,0.0,NaN,86.07,-0.0,100.0,77.800
13,2012-03-22,AAPL,NaN,NaN,0.0,NaN,85.62,-0.0,100.0,77.800
14,2012-03-23,AAPL,NaN,NaN,0.0,NaN,85.15,-0.0,100.0,77.800
15,2012-03-26,AAPL,NaN,NaN,0.0,NaN,86.71,-0.0,100.0,77.800
16,2012-03-27,AAPL,NaN,NaN,0.0,NaN,87.78,-0.0,100.0,77.800
17,2012-03-28,AAPL,NaN,NaN,0.0,NaN,88.23,-0.0,100.0,77.800
18,2012-03-29,AAPL,NaN,NaN,0.0,NaN,87.12,-0.0,100.0,77.800
19,2012-03-30,AAPL,NaN,NaN,0.0,NaN,85.65,-0.0,100.0,77.800
20,2012-04-02,AAPL,NaN,NaN,0.0,NaN,88.38,-0.0,100.0,77.800
21,2012-04-03,AAPL,NaN,NaN,0.0,NaN,89.90,-0.0,100.0,77.800
22,2012-04-04,AAPL,NaN,NaN,0.0,NaN,89.19,-0.0,100.0,77.800
23,2012-04-05,AAPL,NaN,NaN,0.0,NaN,90.53,-0.0,100.0,77.800
24,2012-04-09,AAPL,NaN,NaN,0.0,NaN,90.89,-0.0,100.0,77.800
25,2012-04-10,AAPL,NaN,NaN,0.0,NaN,89.78,-0.0,100.0,77.800
26,2012-04-11,AAPL,NaN,NaN,0.0,NaN,89.46,-0.0,100.0,77.800
27,2012-04-12,AAPL,NaN,NaN,0.0,NaN,88.97,-0.0,100.0,77.800
28,2012-04-13,AAPL,NaN,NaN,0.0,NaN,86.46,-0.0,100.0,77.800
29,2012-04-16,AAPL,NaN,NaN,0.0,NaN,82.88,-0.0,100.0,77.800
...,...,...,...,...,...,...,...,...,...,...
2053,2020-05-01,AAPL,NaN,NaN,0.0,NaN,289.07,-0.0,150.0,69.185
2054,2020-05-04,AAPL,NaN,NaN,0.0,NaN,293.16,-0.0,150.0,69.185
2055,2020-05-05,AAPL,NaN,NaN,0.0,NaN,297.56,-0.0,150.0,69.185
2056,2020-05-06,AAPL,NaN,NaN,0.0,NaN,300.63,-0.0,150.0,69.185
2057,2020-05-07,AAPL,NaN,NaN,0.0,NaN,303.74,-0.0,150.0,69.185
2058,2020-05-08,AAPL,NaN,NaN,0.0,NaN,310.13,-0.0,150.0,69.185
2059,2020-05-11,AAPL,NaN,NaN,0.0,NaN,315.01,-0.0,150.0,69.185
2060,2020-05-12,AAPL,NaN,NaN,0.0,NaN,311.41,-0.0,150.0,69.185
2061,2020-05-13,AAPL,NaN,NaN,0.0,NaN,307.65,-0.0,150.0,69.185
2062,2020-05-14,AAPL,NaN,NaN,0.0,NaN,309.54,-0.0,150.0,69.185
2063,2020-05-15,AAPL,NaN,NaN,0.0,NaN,307.71,-0.0,150.0,69.185
2064,2020-05-18,AAPL,NaN,NaN,0.0,NaN,314.96,-0.0,150.0,69.185
2065,2020-05-19,AAPL,NaN,NaN,0.0,NaN,313.14,-0.0,150.0,69.185
2066,2020-05-20,AAPL,NaN,NaN,0.0,NaN,319.23,-0.0,150.0,69.185
2067,2020-05-21,AAPL,NaN,NaN,0.0,NaN,316.85,-0.0,150.0,69.185
2068,2020-05-22,AAPL,NaN,NaN,0.0,NaN,318.89,-0.0,150.0,69.185
2069,2020-05-26,AAPL,NaN,NaN,0.0,NaN,316.73,-0.0,150.0,69.185
2070,2020-05-27,AAPL,NaN,NaN,0.0,NaN,318.11,-0.0,150.0,69.185
2071,2020-05-28,AAPL,NaN,NaN,0.0,NaN,318.25,-0.0,150.0,69.185
2072,2020-05-29,AAPL,NaN,NaN,0.0,NaN,317.94,-0.0,150.0,69.185
2073,2020-06-01,AAPL,NaN,NaN,0.0,NaN,321.85,-0.0,150.0,69.185
2074,2020-06-02,AAPL,NaN,NaN,0.0,NaN,323.34,-0.0,150.0,69.185
2075,2020-06-03,AAPL,NaN,NaN,0.0,NaN,325.12,-0.0,150.0,69.185
2076,2020-06-04,AAPL,NaN,NaN,0.0,NaN,322.32,-0.0,150.0,69.185
2077,2020-06-05,AAPL,NaN,NaN,0.0,NaN,331.50,-0.0,150.0,69.185
2078,2020-06-08,AAPL,NaN,NaN,0.0,NaN,333.46,-0.0,150.0,69.185
2079,2020-06-09,AAPL,NaN,NaN,0.0,NaN,343.99,-0.0,150.0,69.185
2080,2020-06-10,AAPL,NaN,NaN,0.0,NaN,352.84,-0.0,150.0,69.185
2081,2020-06-11,AAPL,NaN,NaN,0.0,NaN,335.90,-0.0,150.0,69.185
2082,2020-06-12,AAPL,NaN,NaN,0.0,NaN,338.80,-0.0,150.0,69.185

In [290]:
# Create TSLA DataFrame
tsla3_df = portfolio3_df[portfolio3_df['Ticker']=='TSLA']
tsla3_df=tsla3_df.reset_index(drop=True)

# Call avg_price function to append Avg Price per Share to dataframe
tsla3_df['Avg Price per Share']=pd.DataFrame(avg_price(tsla3_df))
tsla3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close,Net Shares,Cummulative Shares,Avg Price per Share
0,2013-09-23,TSLA,B,189.9,100.0,18990,181.11,100.0,100.0,189.900000
1,2013-09-24,TSLA,NaN,NaN,0.0,NaN,182.33,-0.0,100.0,189.900000
2,2013-09-25,TSLA,NaN,NaN,0.0,NaN,185.24,-0.0,100.0,189.900000
3,2013-09-26,TSLA,NaN,NaN,0.0,NaN,188.64,-0.0,100.0,189.900000
4,2013-09-27,TSLA,NaN,NaN,0.0,NaN,190.90,-0.0,100.0,189.900000
5,2013-09-30,TSLA,NaN,NaN,0.0,NaN,193.37,-0.0,100.0,189.900000
6,2013-10-01,TSLA,NaN,NaN,0.0,NaN,193.00,-0.0,100.0,189.900000
7,2013-10-02,TSLA,NaN,NaN,0.0,NaN,180.95,-0.0,100.0,189.900000
8,2013-10-03,TSLA,NaN,NaN,0.0,NaN,173.31,-0.0,100.0,189.900000
9,2013-10-04,TSLA,NaN,NaN,0.0,NaN,180.98,-0.0,100.0,189.900000
10,2013-10-07,TSLA,NaN,NaN,0.0,NaN,183.07,-0.0,100.0,189.900000
11,2013-10-08,TSLA,NaN,NaN,0.0,NaN,174.73,-0.0,100.0,189.900000
12,2013-10-09,TSLA,NaN,NaN,0.0,NaN,168.78,-0.0,100.0,189.900000
13,2013-10-10,TSLA,NaN,NaN,0.0,NaN,172.93,-0.0,100.0,189.900000
14,2013-10-11,TSLA,NaN,NaN,0.0,NaN,178.70,-0.0,100.0,189.900000
15,2013-10-14,TSLA,NaN,NaN,0.0,NaN,179.72,-0.0,100.0,189.900000
16,2013-10-15,TSLA,NaN,NaN,0.0,NaN,183.94,-0.0,100.0,189.900000
17,2013-10-16,TSLA,NaN,NaN,0.0,NaN,183.56,-0.0,100.0,189.900000
18,2013-10-17,TSLA,NaN,NaN,0.0,NaN,182.80,-0.0,100.0,189.900000
19,2013-10-18,TSLA,NaN,NaN,0.0,NaN,183.40,-0.0,100.0,189.900000
20,2013-10-21,TSLA,NaN,NaN,0.0,NaN,172.60,-0.0,100.0,189.900000
21,2013-10-22,TSLA,NaN,NaN,0.0,NaN,171.54,-0.0,100.0,189.900000
22,2013-10-23,TSLA,NaN,NaN,0.0,NaN,164.50,-0.0,100.0,189.900000
23,2013-10-24,TSLA,NaN,NaN,0.0,NaN,173.15,-0.0,100.0,189.900000
24,2013-10-25,TSLA,NaN,NaN,0.0,NaN,169.66,-0.0,100.0,189.900000
25,2013-10-28,TSLA,NaN,NaN,0.0,NaN,162.86,-0.0,100.0,189.900000
26,2013-10-29,TSLA,NaN,NaN,0.0,NaN,164.47,-0.0,100.0,189.900000
27,2013-10-30,TSLA,NaN,NaN,0.0,NaN,159.22,-0.0,100.0,189.900000
28,2013-10-31,TSLA,NaN,NaN,0.0,NaN,159.94,-0.0,100.0,189.900000
29,2013-11-01,TSLA,NaN,NaN,0.0,NaN,162.17,-0.0,100.0,189.900000
...,...,...,...,...,...,...,...,...,...,...
1663,2020-05-01,TSLA,NaN,NaN,0.0,NaN,701.32,-0.0,55.0,199.772727
1664,2020-05-04,TSLA,NaN,NaN,0.0,NaN,761.19,-0.0,55.0,199.772727
1665,2020-05-05,TSLA,NaN,NaN,0.0,NaN,768.21,-0.0,55.0,199.772727
1666,2020-05-06,TSLA,NaN,NaN,0.0,NaN,782.58,-0.0,55.0,199.772727
1667,2020-05-07,TSLA,NaN,NaN,0.0,NaN,780.04,-0.0,55.0,199.772727
1668,2020-05-08,TSLA,NaN,NaN,0.0,NaN,819.42,-0.0,55.0,199.772727
1669,2020-05-11,TSLA,NaN,NaN,0.0,NaN,811.29,-0.0,55.0,199.772727
1670,2020-05-12,TSLA,NaN,NaN,0.0,NaN,809.41,-0.0,55.0,199.772727
1671,2020-05-13,TSLA,NaN,NaN,0.0,NaN,790.96,-0.0,55.0,199.772727
1672,2020-05-14,TSLA,NaN,NaN,0.0,NaN,803.33,-0.0,55.0,199.772727
1673,2020-05-15,TSLA,NaN,NaN,0.0,NaN,799.17,-0.0,55.0,199.772727
1674,2020-05-18,TSLA,NaN,NaN,0.0,NaN,813.63,-0.0,55.0,199.772727
1675,2020-05-19,TSLA,NaN,NaN,0.0,NaN,808.01,-0.0,55.0,199.772727
1676,2020-05-20,TSLA,NaN,NaN,0.0,NaN,815.56,-0.0,55.0,199.772727
1677,2020-05-21,TSLA,NaN,NaN,0.0,NaN,827.60,-0.0,55.0,199.772727
1678,2020-05-22,TSLA,NaN,NaN,0.0,NaN,816.88,-0.0,55.0,199.772727
1679,2020-05-26,TSLA,NaN,NaN,0.0,NaN,818.87,-0.0,55.0,199.772727
1680,2020-05-27,TSLA,NaN,NaN,0.0,NaN,820.23,-0.0,55.0,199.772727
1681,2020-05-28,TSLA,NaN,NaN,0.0,NaN,805.81,-0.0,55.0,199.772727
1682,2020-05-29,TSLA,NaN,NaN,0.0,NaN,835.00,-0.0,55.0,199.772727
1683,2020-06-01,TSLA,NaN,NaN,0.0,NaN,898.10,-0.0,55.0,199.772727
1684,2020-06-02,TSLA,NaN,NaN,0.0,NaN,881.56,-0.0,55.0,199.772727
1685,2020-06-03,TSLA,NaN,NaN,0.0,NaN,882.96,-0.0,55.0,199.772727
1686,2020-06-04,TSLA,NaN,NaN,0.0,NaN,864.38,-0.0,55.0,199.772727
1687,2020-06-05,TSLA,NaN,NaN,0.0,NaN,885.66,-0.0,55.0,199.772727
1688,2020-06-08,TSLA,NaN,NaN,0.0,NaN,949.92,-0.0,55.0,199.772727
1689,2020-06-09,TSLA,NaN,NaN,0.0,NaN,940.67,-0.0,55.0,199.772727
1690,2020-06-10,TSLA,NaN,NaN,0.0,NaN,1025.05,-0.0,55.0,199.772727
1691,2020-06-11,TSLA,NaN,NaN,0.0,NaN,972.84,-0.0,55.0,199.772727
1692,2020-06-12,TSLA,NaN,NaN,0.0,NaN,935.28,-0.0,55.0,199.772727

In [291]:
# Create GOOG DataFrame
goog3_df = portfolio3_df[portfolio3_df['Ticker']=='GOOG']
goog3_df=goog3_df.reset_index(drop=True)

# Call avg_price function to append Avg Price per Share to dataframe
goog3_df['Avg Price per Share']=pd.DataFrame(avg_price(goog3_df))
goog3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close,Net Shares,Cummulative Shares,Avg Price per Share
0,2017-08-07,GOOG,B,915.39,10.0,9153.9,929.36,10.0,10.0,915.39
1,2017-08-08,GOOG,NaN,NaN,0.0,NaN,926.79,-0.0,10.0,915.39
2,2017-08-09,GOOG,NaN,NaN,0.0,NaN,922.90,-0.0,10.0,915.39
3,2017-08-10,GOOG,NaN,NaN,0.0,NaN,907.24,-0.0,10.0,915.39
4,2017-08-11,GOOG,NaN,NaN,0.0,NaN,914.39,-0.0,10.0,915.39
5,2017-08-14,GOOG,NaN,NaN,0.0,NaN,922.67,-0.0,10.0,915.39
6,2017-08-15,GOOG,NaN,NaN,0.0,NaN,922.22,-0.0,10.0,915.39
7,2017-08-16,GOOG,NaN,NaN,0.0,NaN,926.96,-0.0,10.0,915.39
8,2017-08-17,GOOG,NaN,NaN,0.0,NaN,910.98,-0.0,10.0,915.39
9,2017-08-18,GOOG,NaN,NaN,0.0,NaN,910.67,-0.0,10.0,915.39
10,2017-08-21,GOOG,NaN,NaN,0.0,NaN,906.66,-0.0,10.0,915.39
11,2017-08-22,GOOG,NaN,NaN,0.0,NaN,924.69,-0.0,10.0,915.39
12,2017-08-23,GOOG,NaN,NaN,0.0,NaN,927.00,-0.0,10.0,915.39
13,2017-08-24,GOOG,NaN,NaN,0.0,NaN,921.28,-0.0,10.0,915.39
14,2017-08-25,GOOG,NaN,NaN,0.0,NaN,915.89,-0.0,10.0,915.39
15,2017-08-28,GOOG,NaN,NaN,0.0,NaN,913.81,-0.0,10.0,915.39
16,2017-08-29,GOOG,NaN,NaN,0.0,NaN,921.29,-0.0,10.0,915.39
17,2017-08-30,GOOG,NaN,NaN,0.0,NaN,929.57,-0.0,10.0,915.39
18,2017-08-31,GOOG,NaN,NaN,0.0,NaN,939.33,-0.0,10.0,915.39
19,2017-09-01,GOOG,NaN,NaN,0.0,NaN,937.34,-0.0,10.0,915.39
20,2017-09-05,GOOG,NaN,NaN,0.0,NaN,928.45,-0.0,10.0,915.39
21,2017-09-06,GOOG,NaN,NaN,0.0,NaN,927.81,-0.0,10.0,915.39
22,2017-09-07,GOOG,NaN,NaN,0.0,NaN,935.95,-0.0,10.0,915.39
23,2017-09-08,GOOG,NaN,NaN,0.0,NaN,926.50,-0.0,10.0,915.39
24,2017-09-11,GOOG,NaN,NaN,0.0,NaN,929.08,-0.0,10.0,915.39
25,2017-09-12,GOOG,NaN,NaN,0.0,NaN,932.07,-0.0,10.0,915.39
26,2017-09-13,GOOG,NaN,NaN,0.0,NaN,935.09,-0.0,10.0,915.39
27,2017-09-14,GOOG,NaN,NaN,0.0,NaN,925.11,-0.0,10.0,915.39
28,2017-09-15,GOOG,NaN,NaN,0.0,NaN,920.29,-0.0,10.0,915.39
29,2017-09-18,GOOG,NaN,NaN,0.0,NaN,915.00,-0.0,10.0,915.39
...,...,...,...,...,...,...,...,...,...,...
688,2020-05-01,GOOG,NaN,NaN,0.0,NaN,1320.61,-0.0,10.0,915.39
689,2020-05-04,GOOG,NaN,NaN,0.0,NaN,1326.80,-0.0,10.0,915.39
690,2020-05-05,GOOG,NaN,NaN,0.0,NaN,1351.11,-0.0,10.0,915.39
691,2020-05-06,GOOG,NaN,NaN,0.0,NaN,1347.30,-0.0,10.0,915.39
692,2020-05-07,GOOG,NaN,NaN,0.0,NaN,1372.56,-0.0,10.0,915.39
693,2020-05-08,GOOG,NaN,NaN,0.0,NaN,1388.37,-0.0,10.0,915.39
694,2020-05-11,GOOG,NaN,NaN,0.0,NaN,1403.26,-0.0,10.0,915.39
695,2020-05-12,GOOG,NaN,NaN,0.0,NaN,1375.74,-0.0,10.0,915.39
696,2020-05-13,GOOG,NaN,NaN,0.0,NaN,1349.33,-0.0,10.0,915.39
697,2020-05-14,GOOG,NaN,NaN,0.0,NaN,1356.13,-0.0,10.0,915.39
698,2020-05-15,GOOG,NaN,NaN,0.0,NaN,1373.19,-0.0,10.0,915.39
699,2020-05-18,GOOG,NaN,NaN,0.0,NaN,1383.94,-0.0,10.0,915.39
700,2020-05-19,GOOG,NaN,NaN,0.0,NaN,1373.48,-0.0,10.0,915.39
701,2020-05-20,GOOG,NaN,NaN,0.0,NaN,1406.72,-0.0,10.0,915.39
702,2020-05-21,GOOG,NaN,NaN,0.0,NaN,1402.80,-0.0,10.0,915.39
703,2020-05-22,GOOG,NaN,NaN,0.0,NaN,1410.42,-0.0,10.0,915.39
704,2020-05-26,GOOG,NaN,NaN,0.0,NaN,1417.02,-0.0,10.0,915.39
705,2020-05-27,GOOG,NaN,NaN,0.0,NaN,1417.84,-0.0,10.0,915.39
706,2020-05-28,GOOG,NaN,NaN,0.0,NaN,1416.73,-0.0,10.0,915.39
707,2020-05-29,GOOG,NaN,NaN,0.0,NaN,1428.92,-0.0,10.0,915.39
708,2020-06-01,GOOG,NaN,NaN,0.0,NaN,1431.82,-0.0,10.0,915.39
709,2020-06-02,GOOG,NaN,NaN,0.0,NaN,1439.22,-0.0,10.0,915.39
710,2020-06-03,GOOG,NaN,NaN,0.0,NaN,1436.38,-0.0,10.0,915.39
711,2020-06-04,GOOG,NaN,NaN,0.0,NaN,1412.18,-0.0,10.0,915.39
712,2020-06-05,GOOG,NaN,NaN,0.0,NaN,1438.39,-0.0,10.0,915.39
713,2020-06-08,GOOG,NaN,NaN,0.0,NaN,1446.61,-0.0,10.0,915.39
714,2020-06-09,GOOG,NaN,NaN,0.0,NaN,1456.16,-0.0,10.0,915.39
715,2020-06-10,GOOG,NaN,NaN,0.0,NaN,1465.85,-0.0,10.0,915.39
716,2020-06-11,GOOG,NaN,NaN,0.0,NaN,1403.84,-0.0,10.0,915.39
717,2020-06-12,GOOG,NaN,NaN,0.0,NaN,1413.18,-0.0,10.0,915.39

In [292]:
# Merge all 3 dataframe to new dataframe
portfolio4_df=pd.concat([aapl3_df, goog3_df, tsla3_df],ignore_index=True)
portfolio4_df=portfolio4_df.sort_values('Date')
portfolio4_df=portfolio4_df.reset_index(drop=True)
portfolio4_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close,Net Shares,Cummulative Shares,Avg Price per Share
0,2012-03-05,AAPL,B,77.8,100.0,7780,76.17,100.0,100.0,77.800000
1,2012-03-06,AAPL,NaN,NaN,0.0,NaN,75.75,-0.0,100.0,77.800000
2,2012-03-07,AAPL,NaN,NaN,0.0,NaN,75.81,-0.0,100.0,77.800000
3,2012-03-08,AAPL,NaN,NaN,0.0,NaN,77.43,-0.0,100.0,77.800000
4,2012-03-09,AAPL,NaN,NaN,0.0,NaN,77.88,-0.0,100.0,77.800000
5,2012-03-12,AAPL,NaN,NaN,0.0,NaN,78.86,-0.0,100.0,77.800000
6,2012-03-13,AAPL,NaN,NaN,0.0,NaN,81.16,-0.0,100.0,77.800000
7,2012-03-14,AAPL,NaN,NaN,0.0,NaN,84.23,-0.0,100.0,77.800000
8,2012-03-15,AAPL,NaN,NaN,0.0,NaN,83.65,-0.0,100.0,77.800000
9,2012-03-16,AAPL,NaN,NaN,0.0,NaN,83.65,-0.0,100.0,77.800000
10,2012-03-19,AAPL,NaN,NaN,0.0,NaN,85.87,-0.0,100.0,77.800000
11,2012-03-20,AAPL,NaN,NaN,0.0,NaN,86.57,-0.0,100.0,77.800000
12,2012-03-21,AAPL,NaN,NaN,0.0,NaN,86.07,-0.0,100.0,77.800000
13,2012-03-22,AAPL,NaN,NaN,0.0,NaN,85.62,-0.0,100.0,77.800000
14,2012-03-23,AAPL,NaN,NaN,0.0,NaN,85.15,-0.0,100.0,77.800000
15,2012-03-26,AAPL,NaN,NaN,0.0,NaN,86.71,-0.0,100.0,77.800000
16,2012-03-27,AAPL,NaN,NaN,0.0,NaN,87.78,-0.0,100.0,77.800000
17,2012-03-28,AAPL,NaN,NaN,0.0,NaN,88.23,-0.0,100.0,77.800000
18,2012-03-29,AAPL,NaN,NaN,0.0,NaN,87.12,-0.0,100.0,77.800000
19,2012-03-30,AAPL,NaN,NaN,0.0,NaN,85.65,-0.0,100.0,77.800000
20,2012-04-02,AAPL,NaN,NaN,0.0,NaN,88.38,-0.0,100.0,77.800000
21,2012-04-03,AAPL,NaN,NaN,0.0,NaN,89.90,-0.0,100.0,77.800000
22,2012-04-04,AAPL,NaN,NaN,0.0,NaN,89.19,-0.0,100.0,77.800000
23,2012-04-05,AAPL,NaN,NaN,0.0,NaN,90.53,-0.0,100.0,77.800000
24,2012-04-09,AAPL,NaN,NaN,0.0,NaN,90.89,-0.0,100.0,77.800000
25,2012-04-10,AAPL,NaN,NaN,0.0,NaN,89.78,-0.0,100.0,77.800000
26,2012-04-11,AAPL,NaN,NaN,0.0,NaN,89.46,-0.0,100.0,77.800000
27,2012-04-12,AAPL,NaN,NaN,0.0,NaN,88.97,-0.0,100.0,77.800000
28,2012-04-13,AAPL,NaN,NaN,0.0,NaN,86.46,-0.0,100.0,77.800000
29,2012-04-16,AAPL,NaN,NaN,0.0,NaN,82.88,-0.0,100.0,77.800000
...,...,...,...,...,...,...,...,...,...,...
4464,2020-06-01,AAPL,NaN,NaN,0.0,NaN,321.85,-0.0,150.0,69.185000
4465,2020-06-01,TSLA,NaN,NaN,0.0,NaN,898.10,-0.0,55.0,199.772727
4466,2020-06-01,GOOG,NaN,NaN,0.0,NaN,1431.82,-0.0,10.0,915.390000
4467,2020-06-02,GOOG,NaN,NaN,0.0,NaN,1439.22,-0.0,10.0,915.390000
4468,2020-06-02,AAPL,NaN,NaN,0.0,NaN,323.34,-0.0,150.0,69.185000
4469,2020-06-02,TSLA,NaN,NaN,0.0,NaN,881.56,-0.0,55.0,199.772727
4470,2020-06-03,TSLA,NaN,NaN,0.0,NaN,882.96,-0.0,55.0,199.772727
4471,2020-06-03,AAPL,NaN,NaN,0.0,NaN,325.12,-0.0,150.0,69.185000
4472,2020-06-03,GOOG,NaN,NaN,0.0,NaN,1436.38,-0.0,10.0,915.390000
4473,2020-06-04,TSLA,NaN,NaN,0.0,NaN,864.38,-0.0,55.0,199.772727
4474,2020-06-04,GOOG,NaN,NaN,0.0,NaN,1412.18,-0.0,10.0,915.390000
4475,2020-06-04,AAPL,NaN,NaN,0.0,NaN,322.32,-0.0,150.0,69.185000
4476,2020-06-05,GOOG,NaN,NaN,0.0,NaN,1438.39,-0.0,10.0,915.390000
4477,2020-06-05,TSLA,NaN,NaN,0.0,NaN,885.66,-0.0,55.0,199.772727
4478,2020-06-05,AAPL,NaN,NaN,0.0,NaN,331.50,-0.0,150.0,69.185000
4479,2020-06-08,AAPL,NaN,NaN,0.0,NaN,333.46,-0.0,150.0,69.185000
4480,2020-06-08,TSLA,NaN,NaN,0.0,NaN,949.92,-0.0,55.0,199.772727
4481,2020-06-08,GOOG,NaN,NaN,0.0,NaN,1446.61,-0.0,10.0,915.390000
4482,2020-06-09,AAPL,NaN,NaN,0.0,NaN,343.99,-0.0,150.0,69.185000
4483,2020-06-09,TSLA,NaN,NaN,0.0,NaN,940.67,-0.0,55.0,199.772727
4484,2020-06-09,GOOG,NaN,NaN,0.0,NaN,1456.16,-0.0,10.0,915.390000
4485,2020-06-10,GOOG,NaN,NaN,0.0,NaN,1465.85,-0.0,10.0,915.390000
4486,2020-06-10,TSLA,NaN,NaN,0.0,NaN,1025.05,-0.0,55.0,199.772727
4487,2020-06-10,AAPL,NaN,NaN,0.0,NaN,352.84,-0.0,150.0,69.185000
4488,2020-06-11,GOOG,NaN,NaN,0.0,NaN,1403.84,-0.0,10.0,915.390000
4489,2020-06-11,AAPL,NaN,NaN,0.0,NaN,335.90,-0.0,150.0,69.185000
4490,2020-06-11,TSLA,NaN,NaN,0.0,NaN,972.84,-0.0,55.0,199.772727
4491,2020-06-12,AAPL,NaN,NaN,0.0,NaN,338.80,-0.0,150.0,69.185000
4492,2020-06-12,GOOG,NaN,NaN,0.0,NaN,1413.18,-0.0,10.0,915.390000
4493,2020-06-12,TSLA,NaN,NaN,0.0,NaN,935.28,-0.0,55.0,199.772727

In [293]:
# Calculate Cummulative Contribution Column based on Cummulative Shares and Avg Price per Share
portfolio4_df["Cummulative Contributions"] = portfolio4_df["Cummulative Shares"] * portfolio4_df["Avg Price per Share"]

# Calculate Daily Balance Column based on Cummulative Shares and Daily Closing Price
portfolio4_df["Daily Balance"] = portfolio4_df["Cummulative Shares"] * portfolio4_df["Close"]

# Calculate Unrealized Gains (Losses) based on Daily Balance and Cummulative Contributions
portfolio4_df["Unrealized Gains(Losses)"] = portfolio4_df["Daily Balance"] - portfolio4_df["Cummulative Contributions"]

portfolio4_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close,Net Shares,Cummulative Shares,Avg Price per Share,Cummulative Contributions,Daily Balance,Unrealized Gains(Losses)
0,2012-03-05,AAPL,B,77.8,100.0,7780,76.17,100.0,100.0,77.800000,7780.00,7617.00,-163.00
1,2012-03-06,AAPL,NaN,NaN,0.0,NaN,75.75,-0.0,100.0,77.800000,7780.00,7575.00,-205.00
2,2012-03-07,AAPL,NaN,NaN,0.0,NaN,75.81,-0.0,100.0,77.800000,7780.00,7581.00,-199.00
3,2012-03-08,AAPL,NaN,NaN,0.0,NaN,77.43,-0.0,100.0,77.800000,7780.00,7743.00,-37.00
4,2012-03-09,AAPL,NaN,NaN,0.0,NaN,77.88,-0.0,100.0,77.800000,7780.00,7788.00,8.00
5,2012-03-12,AAPL,NaN,NaN,0.0,NaN,78.86,-0.0,100.0,77.800000,7780.00,7886.00,106.00
6,2012-03-13,AAPL,NaN,NaN,0.0,NaN,81.16,-0.0,100.0,77.800000,7780.00,8116.00,336.00
7,2012-03-14,AAPL,NaN,NaN,0.0,NaN,84.23,-0.0,100.0,77.800000,7780.00,8423.00,643.00
8,2012-03-15,AAPL,NaN,NaN,0.0,NaN,83.65,-0.0,100.0,77.800000,7780.00,8365.00,585.00
9,2012-03-16,AAPL,NaN,NaN,0.0,NaN,83.65,-0.0,100.0,77.800000,7780.00,8365.00,585.00
10,2012-03-19,AAPL,NaN,NaN,0.0,NaN,85.87,-0.0,100.0,77.800000,7780.00,8587.00,807.00
11,2012-03-20,AAPL,NaN,NaN,0.0,NaN,86.57,-0.0,100.0,77.800000,7780.00,8657.00,877.00
12,2012-03-21,AAPL,NaN,NaN,0.0,NaN,86.07,-0.0,100.0,77.800000,7780.00,8607.00,827.00
13,2012-03-22,AAPL,NaN,NaN,0.0,NaN,85.62,-0.0,100.0,77.800000,7780.00,8562.00,782.00
14,2012-03-23,AAPL,NaN,NaN,0.0,NaN,85.15,-0.0,100.0,77.800000,7780.00,8515.00,735.00
15,2012-03-26,AAPL,NaN,NaN,0.0,NaN,86.71,-0.0,100.0,77.800000,7780.00,8671.00,891.00
16,2012-03-27,AAPL,NaN,NaN,0.0,NaN,87.78,-0.0,100.0,77.800000,7780.00,8778.00,998.00
17,2012-03-28,AAPL,NaN,NaN,0.0,NaN,88.23,-0.0,100.0,77.800000,7780.00,8823.00,1043.00
18,2012-03-29,AAPL,NaN,NaN,0.0,NaN,87.12,-0.0,100.0,77.800000,7780.00,8712.00,932.00
19,2012-03-30,AAPL,NaN,NaN,0.0,NaN,85.65,-0.0,100.0,77.800000,7780.00,8565.00,785.00
20,2012-04-02,AAPL,NaN,NaN,0.0,NaN,88.38,-0.0,100.0,77.800000,7780.00,8838.00,1058.00
21,2012-04-03,AAPL,NaN,NaN,0.0,NaN,89.90,-0.0,100.0,77.800000,7780.00,8990.00,1210.00
22,2012-04-04,AAPL,NaN,NaN,0.0,NaN,89.19,-0.0,100.0,77.800000,7780.00,8919.00,1139.00
23,2012-04-05,AAPL,NaN,NaN,0.0,NaN,90.53,-0.0,100.0,77.800000,7780.00,9053.00,1273.00
24,2012-04-09,AAPL,NaN,NaN,0.0,NaN,90.89,-0.0,100.0,77.800000,7780.00,9089.00,1309.00
25,2012-04-10,AAPL,NaN,NaN,0.0,NaN,89.78,-0.0,100.0,77.800000,7780.00,8978.00,1198.00
26,2012-04-11,AAPL,NaN,NaN,0.0,NaN,89.46,-0.0,100.0,77.800000,7780.00,8946.00,1166.00
27,2012-04-12,AAPL,NaN,NaN,0.0,NaN,88.97,-0.0,100.0,77.800000,7780.00,8897.00,1117.00
28,2012-04-13,AAPL,NaN,NaN,0.0,NaN,86.46,-0.0,100.0,77.800000,7780.00,8646.00,866.00
29,2012-04-16,AAPL,NaN,NaN,0.0,NaN,82.88,-0.0,100.0,77.800000,7780.00,8288.00,508.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4464,2020-06-01,AAPL,NaN,NaN,0.0,NaN,321.85,-0.0,150.0,69.185000,10377.75,48277.50,37899.75
4465,2020-06-01,TSLA,NaN,NaN,0.0,NaN,898.10,-0.0,55.0,199.772727,10987.50,49395.50,38408.00
4466,2020-06-01,GOOG,NaN,NaN,0.0,NaN,1431.82,-0.0,10.0,915.390000,9153.90,14318.20,5164.30
4467,2020-06-02,GOOG,NaN,NaN,0.0,NaN,1439.22,-0.0,10.0,915.390000,9153.90,14392.20,5238.30
4468,2020-06-02,AAPL,NaN,NaN,0.0,NaN,323.34,-0.0,150.0,69.185000,10377.75,48501.00,38123.25
4469,2020-06-02,TSLA,NaN,NaN,0.0,NaN,881.56,-0.0,55.0,199.772727,10987.50,48485.80,37498.30
4470,2020-06-03,TSLA,NaN,NaN,0.0,NaN,882.96,-0.0,55.0,199.772727,10987.50,48562.80,37575.30
4471,2020-06-03,AAPL,NaN,NaN,0.0,NaN,325.12,-0.0,150.0,69.185000,10377.75,48768.00,38390.25
4472,2020-06-03,GOOG,NaN,NaN,0.0,NaN,1436.38,-0.0,10.0,915.390000,9153.90,14363.80,5209.90
4473,2020-06-04,TSLA,NaN,NaN,0.0,NaN,864.38,-0.0,55.0,199.772727,10987.50,47540.90,36553.40
4474,2020-06-04,GOOG,NaN,NaN,0.0,NaN,1412.18,-0.0,10.0,915.390000,9153.90,14121.80,4967.90
4475,2020-06-04,AAPL,NaN,NaN,0.0,NaN,322.32,-0.0,150.0,69.185000,10377.75,48348.00,37970.25
4476,2020-06-05,GOOG,NaN,NaN,0.0,NaN,1438.39,-0.0,10.0,915.390000,9153.90,14383.90,5230.00
4477,2020-06-05,TSLA,NaN,NaN,0.0,NaN,885.66,-0.0,55.0,199.772727,10987.50,48711.30,37723.80
4478,2020-06-05,AAPL,NaN,NaN,0.0,NaN,331.50,-0.0,150.0,69.185000,10377.75,49725.00,39347.25
4479,2020-06-08,AAPL,NaN,NaN,0.0,NaN,333.46,-0.0,150.0,69.185000,10377.75,50019.00,39641.25
4480,2020-06-08,TSLA,NaN,NaN,0.0,NaN,949.92,-0.0,55.0,199.772727,10987.50,52245.60,41258.10
4481,2020-06-08,GOOG,NaN,NaN,0.0,NaN,1446.61,-0.0,10.0,915.390000,9153.90,14466.10,5312.20
4482,2020-06-09,AAPL,NaN,NaN,0.0,NaN,343.99,-0.0,150.0,69.185000,10377.75,51598.50,41220.75
4483,2020-06-09,TSLA,NaN,NaN,0.0,NaN,940.67,-0.0,55.0,199.772727,10987.50,51736.85,40749.35
4484,2020-06-09,GOOG,NaN,NaN,0.0,NaN,1456.16,-0.0,10.0,915.390000,9153.90,14561.60,5407.70
4485,2020-06-10,GOOG,NaN,NaN,0.0,NaN,1465.85,-0.0,10.0,915.390000,9153.90,14658.50,5504.60
4486,2020-06-10,TSLA,NaN,NaN,0.0,NaN,1025.05,-0.0,55.0,199.772727,10987.50,56377.75,45390.25
4487,2020-06-10,AAPL,NaN,NaN,0.0,NaN,352.84,-0.0,150.0,69.185000,10377.75,52926.00,42548.25
4488,2020-06-11,GOOG,NaN,NaN,0.0,NaN,1403.84,-0.0,10.0,915.390000,9153.90,14038.40,4884.50
4489,2020-06-11,AAPL,NaN,NaN,0.0,NaN,335.90,-0.0,150.0,69.185000,10377.75,50385.00,40007.25
4490,2020-06-11,TSLA,NaN,NaN,0.0,NaN,972.84,-0.0,55.0,199.772727,10987.50,53506.20,42518.70
4491,2020-06-12,AAPL,NaN,NaN,0.0,NaN,338.80,-0.0,150.0,69.185000,10377.75,50820.00,40442.25
4492,2020-06-12,GOOG,NaN,NaN,0.0,NaN,1413.18,-0.0,10.0,915.390000,9153.90,14131.80,4977.90
4493,2020-06-12,TSLA,NaN,NaN,0.0,NaN,935.28,-0.0,55.0,199.772727,10987.50,51440.40,40452.90

# Insert Heena's Code

# Create Ticker Stats Panel
Using the portfolio database, determine the number of unique stocks and pull stock history.
* Inputs:
    * Transposed Ticker Stat Database (ticker_stats_df_T) (Tickers as Columns)
* Outputs:
    * Ticker Stat Panel (stats_panel)

In [25]:
# Define function that will change negative numbers to red text
def color_negative_red(value):
    if value < 0:
        color='red'
    else:
        color='black'
    return 'color: %s' % color

# Define function that will highlight the max value
def highlight_max(value):
    is_max = value == value.max()
    return ['background-color: yellow' if v else '' for v in is_max]

In [26]:
#Format ticker_stats_df_T to:
# Highlight negative values red
# Highlight larget value yellow
# Add '$' and ',' to currency
# Change percentages to %
# Change floats to 2 decimal places
formatted_stats_df = ticker_stats_df_T.style.applymap(
    color_negative_red, subset=['Beta', 'Cash', 'PE Ratio', 'Profit Margin']
    ).apply(
    highlight_max, subset=['Beta', 'Cash', 'Last Dividend', 'PE Ratio', 'Profit Margin']
    ).format(
    {'Beta':'{:,.2f}', 'Cash':'${:,}', 'Last Dividend':'${:,.2f}', 'PE Ratio':'{:,.2f}', 'Profit Margin':'{:,.1%}'}
    )
formatted_stats_df

In [27]:
stats_panel = pn.panel(formatted_stats_df)
stats_panel

HTML(Styler)

In [ ]:
# code below is my scratchpad area, ignore

In [ ]:
for row in pf:
    if row[index] == 'B':
        lll
    else:
        lll
return lll

In [137]:
stock_dict_copy2=pd.DataFrame(stock_dict_copy)
stock_dict_copy2.to_csv('stock_dict_copy.csv')

In [140]:
portfolio3_df_copy=pd.DataFrame(portfolio3_df)
portfolio3_df_copy.to_csv('portfolio3_df.csv')

In [294]:
portfolio4_df_copy=pd.DataFrame(portfolio4_df)
portfolio4_df_copy.to_csv('portfolio4_df.csv')

In [ ]:
# aapl_first_time=0
# count=0
# avg_price=[]
# aapl_avg_price=0
# tran=len(portfolio3_df)
# for i in range(tran):
#     if portfolio3_df['Ticker'][i] == "AAPL":
#         if aapl_first_time == 0:
#             aapl_avg_price = portfolio3_df['Transaction Price'][i]
#             aapl_prev_trans_cost = portfolio3_df['Transaction Cost'][i]
#             aapl_first_time=1
#         else:
#             if portfolio3_df['Transaction'][i] == "B":               
#                 aapl_avg_price = (aapl_prev_trans_cost + portfolio3_df['Transaction Cost'][i])/(portfolio3_df['Cummulative Shares'][i])
#                 aapl_prev_trans_cost = aapl_prev_trans_cost + portfolio3_df['Transaction Cost'][i]  
#             elif portfolio3_df['Transaction'][i] == "S":
#                 aapl_avg_price = aapl_avg_price
#             else:
#                 aapl_avg_price = aapl_avg_price
        
#         avg_price.append(aapl_avg_price)
#     else:
#         avg_price.append(0)

#     count+=1
    
# portfolio3_df['Avg Price per Share']=pd.DataFrame(avg_price)
# portfolio3_df