Congratulations on taking an interest in improving your results! Based on your current portfolio, your Sharpe Ratio is XXX.  The Sharpe Ratio is the best way to measure your risk-adjusted return.  The higher the Sharpe Ratio, the higher the returns and the sooner you can retire!

Based on a theoretical analysis of your portfolio, the most optimal Sharpe Ratio is XXX.  Keep in mind, it may not be possible to obtain this Sharpe Ratio based on the random nature of the market, but there are proven ways to help improve the portfolio's Sharpe Ratio.  Would you like to try to improve your portfolio?  XXX

Excellent!  Type "guide" for guided assistnace or "self" to self. XXX

- Are you satisfied with you current mix of stocks or would you like to add or remove stocks? Type "keep stocks", "add Stocks" or "remove stocks" XXX
- What stock would you like to add? XXX
-- We need to understand how you want this new stock added.  Do you want to add this stock assume the same buy/sell as a current stock or do you want to define a new transation strategy? XXX
---- What stock do you want it to mirror? XXX
---- What day to you want to make the first purchase? XXX
---- What total $ investment to you want to make for the first purchase? XXX
- What stock would you like to remove? XXX
-- Do you want to replace this stock with another ticker or move entirely? XXX

portfolio sharpe ratio
max sharpe ratio
stock to add

for added stock
- date of first buy
- invested amount of first buy
- frequency of new buys
- $ of frequecy buys
- date of first sell
- frequency of new sells

stock to remove
for removed stock
- replace with X ticker

input robo
portfolio sharpe ratio
max sharpe ratio
current transaction_df

output robo
new transaction DF

In [ ]:
ticker = input ("enter your ticker")

In [ ]:
print(ticker)

In [1]:
import csv
from pathlib import Path
import pandas as pd
from pandas import DataFrame
from datetime import datetime
from datetime import date

In [2]:
# Set the path for the CSV file
input_file_path = Path("TestPortfolio.csv")

In [3]:
#Create empty list to store row data from CSV
portfolio_transactions = []

In [4]:
#Open the CSV file; read in row data; calculate transaction cost per transacation
with open(input_file_path, 'r') as csvfile:
    
    #Set reader object
    csvreader = csv.reader(csvfile, delimiter = ',')
 
    #Read the header
    csv_header = next(csvreader)
    
    #Create new column
    csv_header.append("Transaction Cost")
    portfolio_transactions.append(csv_header)

    #Iterate through the data 
    for row in csvreader:
        
        #Calculate transaction cost
        cost = float(row[3]) * float(row[4])
        
        #Append transaction cost to list  
        row.append(cost)
        portfolio_transactions.append(row)

In [5]:
#Convert transaction list to dataframe
portfolio_df = pd.DataFrame(portfolio_transactions, columns=['Ticker', 'Transaction', 'Date', 'Transaction Price', 'Number of shares', 'Transaction Cost'])

#Drop first row (duplicate header)
portfolio_df=portfolio_df.drop(portfolio_df.index[0])

portfolio_df

,Ticker,Transaction,Date,Transaction Price,Number of shares,Transaction Cost
1,AAPL,B,3/5/12,77.8,100,7780
2,AAPL,B,4/1/13,60.57,100,6057
3,TSLA,B,9/23/13,189.9,100,18990
4,TSLA,S,11/18/13,122.38,75,9178.5
5,TSLA,B,5/9/16,208,30,6240
6,GOOG,B,8/7/17,915.39,10,9153.9
7,AAPL,S,3/16/20,240,50,12000

In [6]:
#Convert Date to datetime and set as index
portfolio_df['Date']=pd.to_datetime(portfolio_df['Date'])
portfolio_df.set_index(['Date'], inplace=True)

portfolio_df

,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost
Date,,,,,
2012-03-05,AAPL,B,77.8,100,7780
2013-04-01,AAPL,B,60.57,100,6057
2013-09-23,TSLA,B,189.9,100,18990
2013-11-18,TSLA,S,122.38,75,9178.5
2016-05-09,TSLA,B,208,30,6240
2017-08-07,GOOG,B,915.39,10,9153.9
2020-03-16,AAPL,S,240,50,12000

In [7]:
# Sort dataframe in ascending order
portfolio_df.sort_index(inplace=True)

portfolio_df

,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost
Date,,,,,
2012-03-05,AAPL,B,77.8,100,7780
2013-04-01,AAPL,B,60.57,100,6057
2013-09-23,TSLA,B,189.9,100,18990
2013-11-18,TSLA,S,122.38,75,9178.5
2016-05-09,TSLA,B,208,30,6240
2017-08-07,GOOG,B,915.39,10,9153.9
2020-03-16,AAPL,S,240,50,12000

In [8]:
# Create empty list for stock tickers
stock_list=[]

In [9]:
# Determine unique stocks
group=portfolio_df.groupby('Ticker')

# Store unique stocks to stock list
group.groups.keys()
stock_list=list(group.groups)

stock_list

['AAPL', 'GOOG', 'TSLA']

In [10]:
#inputs into robo function
portfolio_sharpe_ratio = 0.5004989069079389
best_sharpe_ratio = 0.7199297636662322

In [11]:
print(f"Congratulations on taking an interest in improving your results! Based on your current portfolio, your Sharpe Ratio is {portfolio_sharpe_ratio:.2f}.  The Sharpe Ratio is the best way to measure your risk-adjusted return.  The higher the Sharpe Ratio, the higher the returns and the sooner you can retire!")

Congratulations on taking an interest in improving your results! Based on your current portfolio, your Sharpe Ratio is 0.50.  The Sharpe Ratio is the best way to measure your risk-adjusted return.  The higher the Sharpe Ratio, the higher the returns and the sooner you can retire!

In [12]:
print(f"Based on a theoretical analysis of your portfolio, the most optimal Sharpe Ratio is {best_sharpe_ratio:.2f}. Keep in mind, it may not be possible to obtain this Sharpe Ratio based on the random nature of the market, but there are proven ways to help improve the portfolio's Sharpe Ratio.")
ui_improve = input ("\nWould you like to try to improve your portfolio? (Yes or No)")

Based on a theoretical analysis of your portfolio, the most optimal Sharpe Ratio is 0.72. Keep in mind, it may not be possible to obtain this Sharpe Ratio based on the random nature of the market, but there are proven ways to help improve the portfolio's Sharpe Ratio.

Would you like to try to improve your portfolio? (Yes or No) Yes

In [23]:
# Define empty lists for user inputs
add_list = []
remove_list = []

# Define columns for user input dataframe
column_names = ['Ticker', 'Date', 'Transaction Cost']

In [24]:
# Enter if user wants to improve portfolio
if (ui_improve.lower() == "yes" or ui_improve.lower() == "y"):
    print("Great! Let's get started! I will ask you a series of questions to help modify your portfolio to see if we can improve your performance.")
    print("\nThere's a few things to keep in mind.")
    print("\t* Rule 1")

    # Ask if user wants to keep/add/remove stocks
    ui_stock_change = input ("\nAre you satisfied with you current mix of stocks or would you like to add or remove stocks? (keep, add, remove)")
    
    # Enter if user wants to add stocks
    if (ui_stock_change.lower() == "add"):
        ui_stock_add_num = input ("\nHow many stocks would you like to add to your portfolio?")
        print(f"Great! We'll add the {ui_stock_add_num} stocks one at a time.")
        
        # Loop to gather ticker, investment $, and purchase date for each ticker
        for i in range(int(ui_stock_add_num)):
            ui_stock_add_tckr = input (f"\nWhat is the ticker for Stock {i+1} that you want to add?")
            ui_stock_add_date = input (f"\nWhat day do you want to buy {ui_stock_add_tckr.upper()}? (MM/DD/YYYY)")
            ui_stock_add_cost = input (f"\nFor the analysis, we'll assume only the inital purchase as the full investment. How much would you like to invest in {ui_stock_add_tckr.upper()}? $")
            
            stock_add_date = datetime.strptime(ui_stock_add_date, '%m/%d/%Y').date()
            stock_add_cost = ui_stock_add_cost.replace(',','')
            
            add_list.append([ui_stock_add_tckr, stock_add_date, stock_add_cost])
        user_inputs_df = pd.DataFrame(add_list, columns=column_names)
        
    # Enter if user wants to remove stocks
    elif (ui_stock_change.lower() == "remove"):
        ui_stock_remove_num = input ("\nHow many stocks would you like to remove from your portfolio?")
        
        # Loop to gather all tickers to remove from portfolio
        for i in range(int(ui_stock_remove_num)):
            ui_stock_remove_tckr = input (f"\nWhat is the ticker for Stock {i+1} that you want to remove?")
            remove_list.append(ui_stock_remove_tckr)
            
    # Enter if user does not want to add or remove stocks
    else:
        print(f"\nOkay, we won't change your mix of stocks.  Your stocks will remain: \n{stock_list}")

# Enter if user does not want to improve portflio.    
else:
    print("If you change your mind, let me know.")

Great! Let's get started! I will ask you a series of questions to help modify your portfolio to see if we can improve your performance.

There's a few things to keep in mind.
	* Rule 1

Are you satisfied with you current mix of stocks or would you like to add or remove stocks? (keep, add, remove) remove

How many stocks would you like to remove from your portfolio? 2

What is the ticker for Stock 1 that you want to remove? tsla

What is the ticker for Stock 2 that you want to remove? appl

In [15]:
add_list

[['tdsa', datetime.date(2020, 9, 7), '100000'],
 ['adf', datetime.date(2011, 1, 1), '1']]

In [21]:
user_inputs_df

  Ticker        Date Transaction Cost
0   tdsa  2020-09-07           100000
1    adf  2011-01-01                1
2   asdf  1000-01-01                1
3   were  2020-03-02              999
4    adf  2020-03-01            22343
5   afsf  2019-07-07           120394
6   afsf  1988-03-02           234235

In [25]:
remove_list

['tsla', 'appl']

In [17]:
user_inputs_df = pd.DataFrame(add_list, columns=column_names)
user_inputs_df

  Ticker        Date Transaction Cost
0   tdsa  2020-09-07           100000
1    adf  2011-01-01                1

In [18]:
#Convert Date to datetime and set as index
user_inputs_df['Date']=pd.to_datetime(user_inputs_df['Date'])
user_inputs_df.set_index(['Date'], inplace=True)

user_inputs_df

           Ticker Transaction Cost
Date
2020-09-07   tdsa           100000
2011-01-01    adf                1

In [ ]:
type(int(stock_num_add))

In [ ]:
stock_add_date="09/17/2020"
stock_add_date

In [ ]:
stock_add_dt = datetime.strptime(stock_add_date, '%m/%d/%Y').date()
stock_add_dt

In [ ]:
type(stock_add_dt)

In [ ]:
stock_add_dt

In [ ]:
portfolio_df.Date[1]