In [55]:
import csv
from pathlib import Path
import pandas as pd
from pandas import DataFrame
import os
from dotenv import load_dotenv
from datetime import datetime
from datetime import date
from datetime import timedelta
import requests
import json

import matplotlib.pyplot as plt
import hvplot.pandas
import plotly.express as px
import panel as pn
from panel.interact import interact
from panel import widgets
import numpy as np

%matplotlib inline

# Initialize the Panel Extensions (for Plotly)
pn.extension('plotly')

# Input Portfolio
Read in the input portfolio CSV file and output a portfolio dataframe
* Inputs:
    * Portfolio CSV file
    * Format: Ticker, Transaction (B=buy, S=Sell), Date, Transaction Price, Number of Shares
    * Assumptions: Date unsorted, no '$' sign, no commas
* Outputs:
    * Portfolio database
    * Format: Ticker, Transaction (B=buy, S=Sell), Date, Transaction Price, Number of Shares, Transaction Cost
    * Database sorted by ascending date

In [56]:
# Set the path for the CSV file
input_file_path = Path("TestPortfolio.csv")

In [57]:
#Create empty list to store row data from CSV
portfolio_transactions = []

In [58]:
#Open the CSV file; read in row data; calculate transaction cost per transacation
with open(input_file_path, 'r') as csvfile:
    #Set reader object
    csvreader = csv.reader(csvfile, delimiter = ',')
 
    #Read the header
    csv_header = next(csvreader)
    
    #Create new column
    csv_header.append("Transaction Cost")
    portfolio_transactions.append(csv_header)

    #Iterate through the data 
    for row in csvreader:
        #Calculate transaction cost
        cost = float(row[3]) * float(row[4])
        
        #Append transaction cost to list
        row.append(cost)
        portfolio_transactions.append(row)

In [59]:
#Convert transaction list to dataframe
portfolio_df = pd.DataFrame(portfolio_transactions, columns=['Ticker', 'Transaction', 'Date', 'Transaction Price', 'Number of shares', 'Transaction Cost'])
#Drop first row (duplicate header)
portfolio_df=portfolio_df.drop(portfolio_df.index[0])
portfolio_df

,Ticker,Transaction,Date,Transaction Price,Number of shares,Transaction Cost
1,AAPL,B,3/5/12,77.8,100,7780
2,AAPL,B,4/1/13,60.57,100,6057
3,TSLA,B,9/23/13,189.9,100,18990
4,TSLA,S,11/18/13,122.38,75,9178.5
5,TSLA,B,5/9/16,208,30,6240
6,GOOG,B,8/7/17,915.39,10,9153.9
7,AAPL,S,3/16/20,240,50,12000

In [60]:
#Convert Date to datetime and set as index
portfolio_df['Date']=pd.to_datetime(portfolio_df['Date'])
portfolio_df.set_index(['Date'], inplace=True)
portfolio_df

,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost
Date,,,,,
2012-03-05,AAPL,B,77.8,100,7780
2013-04-01,AAPL,B,60.57,100,6057
2013-09-23,TSLA,B,189.9,100,18990
2013-11-18,TSLA,S,122.38,75,9178.5
2016-05-09,TSLA,B,208,30,6240
2017-08-07,GOOG,B,915.39,10,9153.9
2020-03-16,AAPL,S,240,50,12000

In [61]:
# Sort dataframe in ascending order
portfolio_df.sort_index(inplace=True)
portfolio_df

,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost
Date,,,,,
2012-03-05,AAPL,B,77.8,100,7780
2013-04-01,AAPL,B,60.57,100,6057
2013-09-23,TSLA,B,189.9,100,18990
2013-11-18,TSLA,S,122.38,75,9178.5
2016-05-09,TSLA,B,208,30,6240
2017-08-07,GOOG,B,915.39,10,9153.9
2020-03-16,AAPL,S,240,50,12000

# Pull Stock Data
Using the portfolio database, determine the number of unique stocks and pull the stock history.
* Inputs:
    * Portfolio database (portfolio_df)
* Outputs:
    * Ticker Stat database (ticker_stats_df) (Tickers as Rows)
    * Transposed Ticker Stat Database (ticker_stats_df_T) (Tickers as Columns)
    * Dailiy Closing Price database (closing_df)

In [62]:
# Set environment variables from the .env file
load_dotenv()

True

In [63]:
# Grab API Key for https://financialmodelingprep.com
stock_key = os.getenv("FMP_API_KEY")

In [64]:
# Create empty list for stock tickers
stock_list=[]

In [65]:
# Determine unique stocks
group=portfolio_df.groupby('Ticker')
# Store unique stocks to stock list
group.groups.keys()
stock_list=list(group.groups)
stock_list

['AAPL', 'GOOG', 'TSLA']

In [66]:
#Create new dataframe resetting date index
portfolio2_df=portfolio_df.reset_index()
portfolio2_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost
0,2012-03-05,AAPL,B,77.8,100,7780
1,2013-04-01,AAPL,B,60.57,100,6057
2,2013-09-23,TSLA,B,189.9,100,18990
3,2013-11-18,TSLA,S,122.38,75,9178.5
4,2016-05-09,TSLA,B,208,30,6240
5,2017-08-07,GOOG,B,915.39,10,9153.9
6,2020-03-16,AAPL,S,240,50,12000

In [67]:
#Find the min dates per tikcer
min_stock_dates=portfolio2_df.groupby('Ticker').min()
min_stock_dates

,Date,Transaction,Transaction Price,Number of shares,Transaction Cost
Ticker,,,,,
AAPL,2012-03-05,B,240,100,6057.0
GOOG,2017-08-07,B,915.39,10,9153.9
TSLA,2013-09-23,B,122.38,100,6240.0

In [68]:
#Store yesterday's date
yesterday = date.today() - timedelta(days=1)
yesterday = yesterday.strftime("%Y-%m-%d")
yesterday

'2020-06-15'

In [69]:
#Define Main Loop Variables
stock_dict={}            # Create dictionary to store stock data
count=0                  # Create counter as index for looping through stock list

#For each ticker in the stock list, pull the stock data
for ticker in stock_list:
    #Define new dictionary key set per ticker
    stock_dict[ticker]={
        'PE Ratio'            : 0,
        'Profit Margin'       : 0,
        'Cash'                : 0,
        'Beta'                : 0,
        'Last Dividend'       : 0,
        'Industry'            : 0,
        'Sector'              : 0,
        'Daily Closing Price' : 0,
        }
    
######
    #Get Beta, Last Div, Industry and Sector
    url = f"https://financialmodelingprep.com/api/v3/profile/{ticker}?apikey={stock_key}"
    requests.get(url).content
    parsed = json.loads(requests.get(url).content)
    
    #Store stock data in dictionary
    stock_dict[ticker]['Beta']=parsed[0]['beta']
    stock_dict[ticker]['Last Dividend']=parsed[0]['lastDiv']
    stock_dict[ticker]['Industry']=parsed[0]['industry']
    stock_dict[ticker]['Sector']=parsed[0]['sector']
    

######
    # Grab PE Ratio
    url = f"https://financialmodelingprep.com/api/v3/key-metrics/{ticker}?apikey={stock_key}"
    requests.get(url).content
    parsed = json.loads(requests.get(url).content)
    
    # Store PE Ratio in dictionary
    stock_dict[ticker]['PE Ratio']=parsed[0]['peRatio']
    
    
######    
    # Grab Profit Margin
    url = f"https://financialmodelingprep.com/api/v3/ratios/{ticker}?apikey={stock_key}"
    requests.get(url).content
    parsed = json.loads(requests.get(url).content)
    
    # Store Profit Margin in dictionary
    stock_dict[ticker]['Profit Margin']=parsed[0]['netProfitMargin']
    
   
###### 
    # Grab Cash
    url = f"https://financialmodelingprep.com/api/v3/balance-sheet-statement/{ticker}?apikey={stock_key}"
    requests.get(url).content
    parsed = json.loads(requests.get(url).content)
    
    # Store Profit Margin in dictionary
    stock_dict[ticker]['Cash']=parsed[0]['cashAndCashEquivalents']

     
######
    #Grab the first purchase date for current ticker
    datetime_obj=datetime.strptime(str(min_stock_dates['Date'][ticker]),"%Y-%m-%d %H:%M:%S")
    date_obj=datetime_obj.date()
    first_purchase_date=str(date_obj)
    
    # Grab the Daily Closing Prices between the first purchase date and yesterday
    url = f"https://financialmodelingprep.com/api/v3/historical-price-full/{ticker}?from={first_purchase_date}&to={yesterday}&apikey={stock_key}"
    requests.get(url).content
    parsed = json.loads(requests.get(url).content)
 
    ### Daily Stock Pull Variables
    count2=0                 # Create counter as index for looping through dictionary of stock data    
    daily_dict={}            # Create empty dictionary to store daily stock data before appending to daily_list_of_dict
    daily_list_of_dict = []  # Create empty list to store dictionary info from daily_dict before storing to stock_dict

    # Loop through historical data and grab daily closing date and price
    for i in parsed['historical']:
        daily_dict['Date'] = parsed['historical'][count2]['date']
        daily_dict['Price'] = parsed['historical'][count2]['close']
        daily_list_of_dict.append(daily_dict.copy())
        count2+=1

    #Store historical stock data to stock_dict dictionary
    stock_dict[ticker]['Daily Closing Price']=daily_list_of_dict
    
    
    #increment counter
    count+=1

In [70]:
#Copy stock_dict so that main loop above doesn't have to be run multiple times
stock_dict_copy = stock_dict
stock_dict_copy

{'AAPL': {'PE Ratio': 20.81351450883162,
  'Profit Margin': 0.21238094505984456,
  'Cash': 48844000000,
  'Beta': 1.228499,
  'Last Dividend': 3.08,
  'Industry': 'Consumer Electronics',
  'Sector': 'Technology',
  'Daily Closing Price': [{'Date': '2020-06-15', 'Price': 342.99},
   {'Date': '2020-06-12', 'Price': 338.8},
   {'Date': '2020-06-11', 'Price': 335.9},
   {'Date': '2020-06-10', 'Price': 352.84},
   {'Date': '2020-06-09', 'Price': 343.99},
   {'Date': '2020-06-08', 'Price': 333.46},
   {'Date': '2020-06-05', 'Price': 331.5},
   {'Date': '2020-06-04', 'Price': 322.32},
   {'Date': '2020-06-03', 'Price': 325.12},
   {'Date': '2020-06-02', 'Price': 323.34},
   {'Date': '2020-06-01', 'Price': 321.85},
   {'Date': '2020-05-29', 'Price': 317.94},
   {'Date': '2020-05-28', 'Price': 318.25},
   {'Date': '2020-05-27', 'Price': 318.11},
   {'Date': '2020-05-26', 'Price': 316.73},
   {'Date': '2020-05-22', 'Price': 318.89},
   {'Date': '2020-05-21', 'Price': 316.85},
   {'Date': '2020-05-20', 'Price': 319.23},
   {'Date': '2020-05-19', 'Price': 313.14},
   {'Date': '2020-05-18', 'Price': 314.96},
   {'Date': '2020-05-15', 'Price': 307.71},
   {'Date': '2020-05-14', 'Price': 309.54},
   {'Date': '2020-05-13', 'Price': 307.65},
   {'Date': '2020-05-12', 'Price': 311.41},
   {'Date': '2020-05-11', 'Price': 315.01},
   {'Date': '2020-05-08', 'Price': 310.13},
   {'Date': '2020-05-07', 'Price': 303.74},
   {'Date': '2020-05-06', 'Price': 300.63},
   {'Date': '2020-05-05', 'Price': 297.56},
   {'Date': '2020-05-04', 'Price': 293.16},
   {'Date': '2020-05-01', 'Price': 289.07},
   {'Date': '2020-04-30', 'Price': 293.8},
   {'Date': '2020-04-29', 'Price': 287.73},
   {'Date': '2020-04-28', 'Price': 278.58},
   {'Date': '2020-04-27', 'Price': 283.17},
   {'Date': '2020-04-24', 'Price': 282.97},
   {'Date': '2020-04-23', 'Price': 275.03},
   {'Date': '2020-04-22', 'Price': 276.1},
   {'Date': '2020-04-21', 'Price': 268.37},
   {'Date': '2020-04-20', 'Price': 276.93},
   {'Date': '2020-04-17', 'Price': 282.8},
   {'Date': '2020-04-16', 'Price': 286.69},
   {'Date': '2020-04-15', 'Price': 284.43},
   {'Date': '2020-04-14', 'Price': 287.05},
   {'Date': '2020-04-13', 'Price': 273.25},
   {'Date': '2020-04-09', 'Price': 267.99},
   {'Date': '2020-04-08', 'Price': 266.07},
   {'Date': '2020-04-07', 'Price': 259.43},
   {'Date': '2020-04-06', 'Price': 262.47},
   {'Date': '2020-04-03', 'Price': 241.41},
   {'Date': '2020-04-02', 'Price': 244.93},
   {'Date': '2020-04-01', 'Price': 240.91},
   {'Date': '2020-03-31', 'Price': 254.29},
   {'Date': '2020-03-30', 'Price': 254.81},
   {'Date': '2020-03-27', 'Price': 247.74},
   {'Date': '2020-03-26', 'Price': 258.44},
   {'Date': '2020-03-25', 'Price': 245.52},
   {'Date': '2020-03-24', 'Price': 246.88},
   {'Date': '2020-03-23', 'Price': 224.37},
   {'Date': '2020-03-20', 'Price': 229.24},
   {'Date': '2020-03-19', 'Price': 244.78},
   {'Date': '2020-03-18', 'Price': 246.67},
   {'Date': '2020-03-17', 'Price': 252.86},
   {'Date': '2020-03-16', 'Price': 242.21},
   {'Date': '2020-03-13', 'Price': 277.97},
   {'Date': '2020-03-12', 'Price': 248.23},
   {'Date': '2020-03-11', 'Price': 275.43},
   {'Date': '2020-03-10', 'Price': 285.34},
   {'Date': '2020-03-09', 'Price': 266.17},
   {'Date': '2020-03-06', 'Price': 289.03},
   {'Date': '2020-03-05', 'Price': 292.92},
   {'Date': '2020-03-04', 'Price': 302.74},
   {'Date': '2020-03-03', 'Price': 289.32},
   {'Date': '2020-03-02', 'Price': 298.81},
   {'Date': '2020-02-28', 'Price': 273.36},
   {'Date': '2020-02-27', 'Price': 273.52},
   {'Date': '2020-02-26', 'Price': 292.65},
   {'Date': '2020-02-25', 'Price': 288.08},
   {'Date': '2020-02-24', 'Price': 298.18},
   {'Date': '2020-02-21', 'Price': 313.05},
   {'Date': '2020-02-20', 'Price': 320.3},
   {'Date': '2020-02-19', 'Price': 323.62},
   {'Date': '2020-02-18', 'Price': 319.0},
   {'Date': '2020-02-14', 'Price': 324.95},
   {'Date': '2020-02-13', 'Price': 324.87},
   {'Date': '2020-02-12', 'Price': 327.2},
   {'Date': '2020-02-11', 'Price': 319.61},
   {'Date': '2020-02-10', 'Price': 321.55},
   {'Date': '2020-02-07', 'Price': 320.03},
   {'Date': '2020-02-06', 'Price': 325.21},
   {'Date': '2020-02-05', 'Price': 321.45},
   {'Date': '2020-02-04', 'Price': 318.85},
   {'Date': '2020-02-03', 'Price': 308.66},
   {'Date': '2020-01-31', 'Price': 309.51},
   {'Date': '2020-01-30', 'Price': 323.87},
   {'Date': '2020-01-29', 'Price': 324.34},
   {'Date': '2020-01-28', 'Price': 317.69},
   {'Date': '2020-01-27', 'Price': 308.95},
   {'Date': '2020-01-24', 'Price': 318.31},
   {'Date': '2020-01-23', 'Price': 319.23},
   {'Date': '2020-01-22', 'Price': 317.7},
   {'Date': '2020-01-21', 'Price': 316.57},
   {'Date': '2020-01-17', 'Price': 318.73},
   {'Date': '2020-01-16', 'Price': 315.24},
   {'Date': '2020-01-15', 'Price': 311.34},
   {'Date': '2020-01-14', 'Price': 312.68},
   {'Date': '2020-01-13', 'Price': 316.96},
   {'Date': '2020-01-10', 'Price': 310.33},
   {'Date': '2020-01-09', 'Price': 309.63},
   {'Date': '2020-01-08', 'Price': 303.19},
   {'Date': '2020-01-07', 'Price': 298.39},
   {'Date': '2020-01-06', 'Price': 299.8},
   {'Date': '2020-01-03', 'Price': 297.43},
   {'Date': '2020-01-02', 'Price': 300.35},
   {'Date': '2019-12-31', 'Price': 293.65},
   {'Date': '2019-12-30', 'Price': 291.52},
   {'Date': '2019-12-27', 'Price': 289.8},
   {'Date': '2019-12-26', 'Price': 289.91},
   {'Date': '2019-12-24', 'Price': 284.27},
   {'Date': '2019-12-23', 'Price': 284.0},
   {'Date': '2019-12-20', 'Price': 279.44},
   {'Date': '2019-12-19', 'Price': 280.02},
   {'Date': '2019-12-18', 'Price': 279.74},
   {'Date': '2019-12-17', 'Price': 280.41},
   {'Date': '2019-12-16', 'Price': 279.86},
   {'Date': '2019-12-13', 'Price': 275.15},
   {'Date': '2019-12-12', 'Price': 271.46},
   {'Date': '2019-12-11', 'Price': 270.77},
   {'Date': '2019-12-10', 'Price': 268.48},
   {'Date': '2019-12-09', 'Price': 266.92},
   {'Date': '2019-12-06', 'Price': 270.71},
   {'Date': '2019-12-05', 'Price': 265.58},
   {'Date': '2019-12-04', 'Price': 261.74},
   {'Date': '2019-12-03', 'Price': 259.45},
   {'Date': '2019-12-02', 'Price': 264.16},
   {'Date': '2019-11-29', 'Price': 267.25},
   {'Date': '2019-11-27', 'Price': 267.84},
   {'Date': '2019-11-26', 'Price': 264.29},
   {'Date': '2019-11-25', 'Price': 266.37},
   {'Date': '2019-11-22', 'Price': 261.78},
   {'Date': '2019-11-21', 'Price': 262.01},
   {'Date': '2019-11-20', 'Price': 263.19},
   {'Date': '2019-11-19', 'Price': 266.29},
   {'Date': '2019-11-18', 'Price': 267.1},
   {'Date': '2019-11-15', 'Price': 265.76},
   {'Date': '2019-11-14', 'Price': 262.64},
   {'Date': '2019-11-13', 'Price': 264.47},
   {'Date': '2019-11-12', 'Price': 261.96},
   {'Date': '2019-11-11', 'Price': 262.2},
   {'Date': '2019-11-08', 'Price': 260.14},
   {'Date': '2019-11-07', 'Price': 259.43},
   {'Date': '2019-11-06', 'Price': 257.24},
   {'Date': '2019-11-05', 'Price': 257.13},
   {'Date': '2019-11-04', 'Price': 257.5},
   {'Date': '2019-11-01', 'Price': 255.82},
   {'Date': '2019-10-31', 'Price': 248.76},
   {'Date': '2019-10-30', 'Price': 243.26},
   {'Date': '2019-10-29', 'Price': 243.29},
   {'Date': '2019-10-28', 'Price': 249.05},
   {'Date': '2019-10-25', 'Price': 246.58},
   {'Date': '2019-10-24', 'Price': 243.58},
   {'Date': '2019-10-23', 'Price': 243.18},
   {'Date': '2019-10-22', 'Price': 239.96},
   {'Date': '2019-10-21', 'Price': 240.51},
   {'Date': '2019-10-18', 'Price': 236.41},
   {'Date': '2019-10-17', 'Price': 235.28},
   {'Date': '2019-10-16', 'Price': 234.37},
   {'Date': '2019-10-15', 'Price': 235.32},
   {'Date': '2019-10-14', 'Price': 235.87},
   {'Date': '2019-10-11', 'Price': 236.21},
   {'Date': '2019-10-10', 'Price': 230.09},
   {'Date': '2019-10-09', 'Price': 227.03},
   {'Date': '2019-10-08', 'Price': 224.4},
   {'Date': '2019-10-07', 'Price': 227.06},
   {'Date': '2019-10-04', 'Price': 227.01},
   {'Date': '2019-10-03', 'Price': 220.82},
   {'Date': '2019-10-02', 'Price': 218.96},
   {'Date': '2019-10-01', 'Price': 224.59},
   {'Date': '2019-09-30', 'Price': 223.97},
   {'Date': '2019-09-27', 'Price': 218.82},
   {'Date': '2019-09-26', 'Price': 219.89},
   {'Date': '2019-09-25', 'Price': 221.03},
   {'Date': '2019-09-24', 'Price': 217.68},
   {'Date': '2019-09-23', 'Price': 218.72},
   {'Date': '2019-09-20', 'Price': 217.73},
   {'Date': '2019-09-19', 'Price': 220.96},
   {'Date': '2019-09-18', 'Price': 222.77},
   {'Date': '2019-09-17', 'Price': 220.7},
   {'Date': '2019-09-16', 'Price': 219.9},
   {'Date': '2019-09-13', 'Price': 218.75},
   {'Date': '2019-09-12', 'Price': 223.09},
   {'Date': '2019-09-11', 'Price': 223.59},
   {'Date': '2019-09-10', 'Price': 216.7},
   {'Date': '2019-09-09', 'Price': 214.17},
   {'Date': '2019-09-06', 'Price': 213.26},
   {'Date': '2019-09-05', 'Price': 213.28},
   {'Date': '2019-09-04', 'Price': 209.19},
   {'Date': '2019-09-03', 'Price': 205.7},
   {'Date': '2019-08-30', 'Price': 208.74},
   {'Date': '2019-08-29', 'Price': 209.01},
   {'Date': '2019-08-28', 'Price': 205.53},
   {'Date': '2019-08-27', 'Price': 204.16},
   {'Date': '2019-08-26', 'Price': 206.49},
   {'Date': '2019-08-23', 'Price': 202.64},
   {'Date': '2019-08-22', 'Price': 212.46},
   {'Date': '2019-08-21', 'Price': 212.64},
   {'Date': '2019-08-20', 'Price': 210.36},
   {'Date': '2019-08-19', 'Price': 210.35},
   {'Date': '2019-08-16', 'Price': 206.5},
   {'Date': '2019-08-15', 'Price': 201.74},
   {'Date': '2019-08-14', 'Price': 202.75},
   {'Date': '2019-08-13', 'Price': 208.97},
   {'Date': '2019-08-12', 'Price': 200.48},
   {'Date': '2019-08-09', 'Price': 200.99},
   {'Date': '2019-08-08', 'Price': 203.43},
   {'Date': '2019-08-07', 'Price': 199.04},
   {'Date': '2019-08-06', 'Price': 197.0},
   {'Date': '2019-08-05', 'Price': 193.34},
   {'Date': '2019-08-02', 'Price': 204.02},
   {'Date': '2019-08-01', 'Price': 208.43},
   {'Date': '2019-07-31', 'Price': 213.04},
   {'Date': '2019-07-30', 'Price': 208.78},
   {'Date': '2019-07-29', 'Price': 209.68},
   {'Date': '2019-07-26', 'Price': 207.74},
   {'Date': '2019-07-25', 'Price': 207.02},
   {'Date': '2019-07-24', 'Price': 208.67},
   {'Date': '2019-07-23', 'Price': 208.84},
   {'Date': '2019-07-22', 'Price': 207.22},
   {'Date': '2019-07-19', 'Price': 202.59},
   {'Date': '2019-07-18', 'Price': 205.66},
   {'Date': '2019-07-17', 'Price': 203.35},
   {'Date': '2019-07-16', 'Price': 204.5},
   {'Date': '2019-07-15', 'Price': 205.21},
   {'Date': '2019-07-12', 'Price': 203.3},
   {'Date': '2019-07-11', 'Price': 201.75},
   {'Date': '2019-07-10', 'Price': 203.23},
   {'Date': '2019-07-09', 'Price': 201.24},
   {'Date': '2019-07-08', 'Price': 200.02},
   {'Date': '2019-07-05', 'Price': 204.23},
   {'Date': '2019-07-03', 'Price': 204.41},
   {'Date': '2019-07-02', 'Price': 202.73},
   {'Date': '2019-07-01', 'Price': 201.55},
   {'Date': '2019-06-28', 'Price': 197.92},
   {'Date': '2019-06-27', 'Price': 199.74},
   {'Date': '2019-06-26', 'Price': 199.8},
   {'Date': '2019-06-25', 'Price': 195.57},
   {'Date': '2019-06-24', 'Price': 198.58},
   {'Date': '2019-06-21', 'Price': 198.78},
   {'Date': '2019-06-20', 'Price': 199.46},
   {'Date': '2019-06-19', 'Price': 197.87},
   {'Date': '2019-06-18', 'Price': 198.45},
   {'Date': '2019-06-17', 'Price': 193.89},
   {'Date': '2019-06-14', 'Price': 192.74},
   {'Date': '2019-06-13', 'Price': 194.15},
   {'Date': '2019-06-12', 'Price': 194.19},
   {'Date': '2019-06-11', 'Price': 194.81},
   {'Date': '2019-06-10', 'Price': 192.58},
   {'Date': '2019-06-07', 'Price': 190.15},
   {'Date': '2019-06-06', 'Price': 185.22},
   {'Date': '2019-06-05', 'Price': 182.54},
   {'Date': '2019-06-04', 'Price': 179.64},
   {'Date': '2019-06-03', 'Price': 173.3},
   {'Date': '2019-05-31', 'Price': 175.07},
   {'Date': '2019-05-30', 'Price': 178.3},
   {'Date': '2019-05-29', 'Price': 177.38},
   {'Date': '2019-05-28', 'Price': 178.23},
   {'Date': '2019-05-24', 'Price': 178.97},
   {'Date': '2019-05-23', 'Price': 179.66},
   {'Date': '2019-05-22', 'Price': 182.78},
   {'Date': '2019-05-21', 'Price': 186.6},
   {'Date': '2019-05-20', 'Price': 183.09},
   {'Date': '2019-05-17', 'Price': 189.0},
   {'Date': '2019-05-16', 'Price': 190.08},
   {'Date': '2019-05-15', 'Price': 190.92},
   {'Date': '2019-05-14', 'Price': 188.66},
   {'Date': '2019-05-13', 'Price': 185.72},
   {'Date': '2019-05-10', 'Price': 197.18},
   {'Date': '2019-05-09', 'Price': 200.72},
   {'Date': '2019-05-08', 'Price': 202.9},
   {'Date': '2019-05-07', 'Price': 202.86},
   {'Date': '2019-05-06', 'Price': 208.48},
   {'Date': '2019-05-03', 'Price': 211.75},
   {'Date': '2019-05-02', 'Price': 209.15},
   {'Date': '2019-05-01', 'Price': 210.52},
   {'Date': '2019-04-30', 'Price': 200.67},
   {'Date': '2019-04-29', 'Price': 204.61},
   {'Date': '2019-04-26', 'Price': 204.3},
   {'Date': '2019-04-25', 'Price': 205.28},
   {'Date': '2019-04-24', 'Price': 207.16},
   {'Date': '2019-04-23', 'Price': 207.48},
   {'Date': '2019-04-22', 'Price': 204.53},
   {'Date': '2019-04-18', 'Price': 203.86},
   {'Date': '2019-04-17', 'Price': 203.13},
   {'Date': '2019-04-16', 'Price': 199.25},
   {'Date': '2019-04-15', 'Price': 199.23},
   {'Date': '2019-04-12', 'Price': 198.87},
   {'Date': '2019-04-11', 'Price': 198.95},
   {'Date': '2019-04-10', 'Price': 200.62},
   {'Date': '2019-04-09', 'Price': 199.5},
   {'Date': '2019-04-08', 'Price': 200.1},
   {'Date': '2019-04-05', 'Price': 197.0},
   {'Date': '2019-04-04', 'Price': 195.69},
   {'Date': '2019-04-03', 'Price': 195.35},
   {'Date': '2019-04-02', 'Price': 194.02},
   {'Date': '2019-04-01', 'Price': 191.24},
   {'Date': '2019-03-29', 'Price': 189.95},
   {'Date': '2019-03-28', 'Price': 188.72},
   {'Date': '2019-03-27', 'Price': 188.47},
   {'Date': '2019-03-26', 'Price': 186.79},
   {'Date': '2019-03-25', 'Price': 188.74},
   {'Date': '2019-03-22', 'Price': 191.05},
   {'Date': '2019-03-21', 'Price': 195.09},
   {'Date': '2019-03-20', 'Price': 188.16},
   {'Date': '2019-03-19', 'Price': 186.53},
   {'Date': '2019-03-18', 'Price': 188.02},
   {'Date': '2019-03-15', 'Price': 186.12},
   {'Date': '2019-03-14', 'Price': 183.73},
   {'Date': '2019-03-13', 'Price': 181.71},
   {'Date': '2019-03-12', 'Price': 180.91},
   {'Date': '2019-03-11', 'Price': 178.9},
   {'Date': '2019-03-08', 'Price': 172.91},
   {'Date': '2019-03-07', 'Price': 172.5},
   {'Date': '2019-03-06', 'Price': 174.52},
   {'Date': '2019-03-05', 'Price': 175.53},
   {'Date': '2019-03-04', 'Price': 175.85},
   {'Date': '2019-03-01', 'Price': 174.97},
   {'Date': '2019-02-28', 'Price': 173.15},
   {'Date': '2019-02-27', 'Price': 174.87},
   {'Date': '2019-02-26', 'Price': 174.33},
   {'Date': '2019-02-25', 'Price': 174.23},
   {'Date': '2019-02-22', 'Price': 172.97},
   {'Date': '2019-02-21', 'Price': 171.06},
   {'Date': '2019-02-20', 'Price': 172.03},
   {'Date': '2019-02-19', 'Price': 170.93},
   {'Date': '2019-02-15', 'Price': 170.42},
   {'Date': '2019-02-14', 'Price': 170.8},
   {'Date': '2019-02-13', 'Price': 170.18},
   {'Date': '2019-02-12', 'Price': 170.89},
   {'Date': '2019-02-11', 'Price': 169.43},
   {'Date': '2019-02-08', 'Price': 170.41},
   {'Date': '2019-02-07', 'Price': 170.94},
   {'Date': '2019-02-06', 'Price': 174.24},
   {'Date': '2019-02-05', 'Price': 174.18},
   {'Date': '2019-02-04', 'Price': 171.25},
   {'Date': '2019-02-01', 'Price': 166.52},
   {'Date': '2019-01-31', 'Price': 166.44},
   {'Date': '2019-01-30', 'Price': 165.25},
   {'Date': '2019-01-29', 'Price': 154.68},
   {'Date': '2019-01-28', 'Price': 156.3},
   {'Date': '2019-01-25', 'Price': 157.76},
   {'Date': '2019-01-24', 'Price': 152.7},
   {'Date': '2019-01-23', 'Price': 153.92},
   {'Date': '2019-01-22', 'Price': 153.3},
   {'Date': '2019-01-18', 'Price': 156.82},
   {'Date': '2019-01-17', 'Price': 155.86},
   {'Date': '2019-01-16', 'Price': 154.94},
   {'Date': '2019-01-15', 'Price': 153.07},
   {'Date': '2019-01-14', 'Price': 150.0},
   {'Date': '2019-01-11', 'Price': 152.29},
   {'Date': '2019-01-10', 'Price': 153.8},
   {'Date': '2019-01-09', 'Price': 153.31},
   {'Date': '2019-01-08', 'Price': 150.75},
   {'Date': '2019-01-07', 'Price': 147.93},
   {'Date': '2019-01-04', 'Price': 148.26},
   {'Date': '2019-01-03', 'Price': 142.19},
   {'Date': '2019-01-02', 'Price': 157.92},
   {'Date': '2018-12-31', 'Price': 157.74},
   {'Date': '2018-12-28', 'Price': 156.23},
   {'Date': '2018-12-27', 'Price': 156.15},
   {'Date': '2018-12-26', 'Price': 157.17},
   {'Date': '2018-12-24', 'Price': 146.83},
   {'Date': '2018-12-21', 'Price': 150.73},
   {'Date': '2018-12-20', 'Price': 156.83},
   {'Date': '2018-12-19', 'Price': 160.89},
   {'Date': '2018-12-18', 'Price': 166.07},
   {'Date': '2018-12-17', 'Price': 163.94},
   {'Date': '2018-12-14', 'Price': 165.48},
   {'Date': '2018-12-13', 'Price': 170.95},
   {'Date': '2018-12-12', 'Price': 169.1},
   {'Date': '2018-12-11', 'Price': 168.63},
   {'Date': '2018-12-10', 'Price': 169.6},
   {'Date': '2018-12-07', 'Price': 168.49},
   {'Date': '2018-12-06', 'Price': 174.72},
   {'Date': '2018-12-04', 'Price': 176.69},
   {'Date': '2018-12-03', 'Price': 184.82},
   {'Date': '2018-11-30', 'Price': 178.58},
   {'Date': '2018-11-29', 'Price': 179.55},
   {'Date': '2018-11-28', 'Price': 180.94},
   {'Date': '2018-11-27', 'Price': 174.24},
   {'Date': '2018-11-26', 'Price': 174.62},
   {'Date': '2018-11-23', 'Price': 172.29},
   {'Date': '2018-11-21', 'Price': 176.78},
   {'Date': '2018-11-20', 'Price': 176.98},
   {'Date': '2018-11-19', 'Price': 185.86},
   {'Date': '2018-11-16', 'Price': 193.53},
   {'Date': '2018-11-15', 'Price': 191.41},
   {'Date': '2018-11-14', 'Price': 186.8},
   {'Date': '2018-11-13', 'Price': 192.23},
   {'Date': '2018-11-12', 'Price': 194.17},
   {'Date': '2018-11-09', 'Price': 204.47},
   {'Date': '2018-11-08', 'Price': 208.49},
   {'Date': '2018-11-07', 'Price': 209.95},
   {'Date': '2018-11-06', 'Price': 203.77},
   {'Date': '2018-11-05', 'Price': 201.59},
   {'Date': '2018-11-02', 'Price': 207.48},
   {'Date': '2018-11-01', 'Price': 222.22},
   {'Date': '2018-10-31', 'Price': 218.86},
   {'Date': '2018-10-30', 'Price': 213.3},
   {'Date': '2018-10-29', 'Price': 212.24},
   {'Date': '2018-10-26', 'Price': 216.3},
   {'Date': '2018-10-25', 'Price': 219.8},
   {'Date': '2018-10-24', 'Price': 215.09},
   {'Date': '2018-10-23', 'Price': 222.73},
   {'Date': '2018-10-22', 'Price': 220.65},
   {'Date': '2018-10-19', 'Price': 219.31},
   {'Date': '2018-10-18', 'Price': 216.02},
   {'Date': '2018-10-17', 'Price': 221.19},
   {'Date': '2018-10-16', 'Price': 222.15},
   {'Date': '2018-10-15', 'Price': 217.36},
   {'Date': '2018-10-12', 'Price': 222.11},
   {'Date': '2018-10-11', 'Price': 214.45},
   {'Date': '2018-10-10', 'Price': 216.36},
   {'Date': '2018-10-09', 'Price': 226.87},
   {'Date': '2018-10-08', 'Price': 223.77},
   {'Date': '2018-10-05', 'Price': 224.29},
   {'Date': '2018-10-04', 'Price': 227.99},
   {'Date': '2018-10-03', 'Price': 232.07},
   {'Date': '2018-10-02', 'Price': 229.28},
   {'Date': '2018-10-01', 'Price': 227.26},
   {'Date': '2018-09-28', 'Price': 225.74},
   {'Date': '2018-09-27', 'Price': 224.95},
   {'Date': '2018-09-26', 'Price': 220.42},
   {'Date': '2018-09-25', 'Price': 222.19},
   {'Date': '2018-09-24', 'Price': 220.79},
   {'Date': '2018-09-21', 'Price': 217.66},
   {'Date': '2018-09-20', 'Price': 220.03},
   {'Date': '2018-09-19', 'Price': 218.37},
   {'Date': '2018-09-18', 'Price': 218.24},
   {'Date': '2018-09-17', 'Price': 217.88},
   {'Date': '2018-09-14', 'Price': 223.84},
   {'Date': '2018-09-13', 'Price': 226.41},
   {'Date': '2018-09-12', 'Price': 221.07},
   {'Date': '2018-09-11', 'Price': 223.85},
   {'Date': '2018-09-10', 'Price': 218.33},
   {'Date': '2018-09-07', 'Price': 221.3},
   {'Date': '2018-09-06', 'Price': 223.1},
   {'Date': '2018-09-05', 'Price': 226.87},
   {'Date': '2018-09-04', 'Price': 228.36},
   {'Date': '2018-08-31', 'Price': 227.63},
   {'Date': '2018-08-30', 'Price': 225.03},

In [71]:
# Create DataFrame showing Beta, P/E Ratio, Profit Margin, 
# Cash, and current Dividends per ticker
ticker_stats_df=DataFrame(stock_dict_copy)
ticker_stats_df.drop('Daily Closing Price', inplace=True)
ticker_stats_df

,AAPL,GOOG,TSLA
PE Ratio,20.8135,14.6956,-131.582
Profit Margin,0.212381,0.212181,-0.035072
Cash,48844000000,18498000000,6268000000
Beta,1.2285,1.02276,0.580101
Last Dividend,3.08,0,0
Industry,Consumer Electronics,Internet Content & Information,Auto Manufacturers
Sector,Technology,Communication Services,Consumer Cyclical

In [72]:
# Create a transpose of ticker_stats_df
ticker_stats_df_T=ticker_stats_df.T
ticker_stats_df_T=ticker_stats_df_T[['PE Ratio', 'Profit Margin', 'Cash', 'Beta', 'Last Dividend', 'Industry', 'Sector']]
ticker_stats_df_T

,PE Ratio,Profit Margin,Cash,Beta,Last Dividend,Industry,Sector
AAPL,20.8135,0.212381,48844000000,1.2285,3.08,Consumer Electronics,Technology
GOOG,14.6956,0.212181,18498000000,1.02276,0,Internet Content & Information,Communication Services
TSLA,-131.582,-0.035072,6268000000,0.580101,0,Auto Manufacturers,Consumer Cyclical

In [73]:
# Closing Data

In [74]:
# Create DataFrame showing Daily Closing Price per ticker
daily_closing_df=DataFrame(stock_dict_copy)
daily_closing_df.drop(['Beta', 'Cash', 'Industry', 'Last Dividend', 'PE Ratio', 'Profit Margin', 'Sector'], inplace=True)
daily_closing_df

,AAPL,GOOG,TSLA
Daily Closing Price,"[{'Date': '2020-06-15', 'Price': 342.99}, {'Da...","[{'Date': '2020-06-15', 'Price': 1419.85}, {'D...","[{'Date': '2020-06-15', 'Price': 990.9}, {'Dat..."

In [75]:
aapl_df = pd.DataFrame(daily_closing_df['AAPL'][0])
#aapl_df.rename(columns={'Date' : 'AAPL Closing Date', 'Price' : 'AAPL Closing Price'}, inplace=True)
aapl_df.rename(columns={'Price' : 'AAPL Closing Price'}, inplace=True)
aapl_df.head()

         Date  AAPL Closing Price
0  2020-06-15              342.99
1  2020-06-12              338.80
2  2020-06-11              335.90
3  2020-06-10              352.84
4  2020-06-09              343.99

In [76]:
goog_df = pd.DataFrame(daily_closing_df['GOOG'][0])
#goog_df.rename(columns={'Date' : 'GOOG Closing Date', 'Price' : 'GOOG Closing Price'}, inplace=True)
goog_df.rename(columns={'Price' : 'GOOG Closing Price'}, inplace=True)
goog_df.head()

         Date  GOOG Closing Price
0  2020-06-15             1419.85
1  2020-06-12             1413.18
2  2020-06-11             1403.84
3  2020-06-10             1465.85
4  2020-06-09             1456.16

In [77]:
tsla_df = pd.DataFrame(daily_closing_df['TSLA'][0])
#tsla_df.rename(columns={'Date' : 'TSLA Closing Date', 'Price' : 'TSLA Closing Price'}, inplace=True)
tsla_df.rename(columns={'Price' : 'TSLA Closing Price'}, inplace=True)
tsla_df.head()

         Date  TSLA Closing Price
0  2020-06-15              990.90
1  2020-06-12              935.28
2  2020-06-11              972.84
3  2020-06-10             1025.05
4  2020-06-09              940.67

In [78]:
closing_df = aapl_df.set_index('Date').join(goog_df.set_index('Date')).join(tsla_df.set_index('Date'))
closing_df.head()

            AAPL Closing Price  GOOG Closing Price  TSLA Closing Price
Date
2020-06-15              342.99             1419.85              990.90
2020-06-12              338.80             1413.18              935.28
2020-06-11              335.90             1403.84              972.84
2020-06-10              352.84             1465.85             1025.05
2020-06-09              343.99             1456.16              940.67

# Insert Alex's Code

In [79]:
# Convert daily closing price data (stock_dict_copy['Daily Closing Price'])
# into a new dataframe (closing_price_df) with only Date, Ticker, and Close columns
date=[]
price=[]
stock_name=[]

for stock in stock_dict_copy:
    for d in stock_dict_copy[stock]['Daily Closing Price']:
        stock_name.append(stock)
        date.append(datetime.strptime(d['Date'],'%Y-%m-%d'))
        price.append(d['Price'])
        
closing_price_df= pd.DataFrame(list(zip(date, stock_name, price)), columns=['Date', 'Ticker', 'Close'])
closing_price_df

           Date Ticker   Close
0    2020-06-15   AAPL  342.99
1    2020-06-12   AAPL  338.80
2    2020-06-11   AAPL  335.90
3    2020-06-10   AAPL  352.84
4    2020-06-09   AAPL  343.99
...         ...    ...     ...
4492 2013-09-27   TSLA  190.90
4493 2013-09-26   TSLA  188.64
4494 2013-09-25   TSLA  185.24
4495 2013-09-24   TSLA  182.33
4496 2013-09-23   TSLA  181.11

[4497 rows x 3 columns]

In [80]:
closing_price_df=closing_price_df.sort_values('Date')
closing_price_df

           Date Ticker    Close
2083 2012-03-05   AAPL    76.17
2082 2012-03-06   AAPL    75.75
2081 2012-03-07   AAPL    75.81
2080 2012-03-08   AAPL    77.43
2079 2012-03-09   AAPL    77.88
...         ...    ...      ...
1    2020-06-12   AAPL   338.80
2804 2020-06-12   TSLA   935.28
2803 2020-06-15   TSLA   990.90
2084 2020-06-15   GOOG  1419.85
0    2020-06-15   AAPL   342.99

[4497 rows x 3 columns]

In [81]:
#Merge the input portfolio dataframe to the closing price dataframe
portfolio3_df = pd.merge(portfolio_df, closing_price_df, how='right', left_on=['Date', 'Ticker'], right_on=['Date', 'Ticker'])
portfolio3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close
0,2012-03-05,AAPL,B,77.8,100,7780,76.17
1,2013-04-01,AAPL,B,60.57,100,6057,61.27
2,2013-09-23,TSLA,B,189.9,100,18990,181.11
3,2013-11-18,TSLA,S,122.38,75,9178.5,121.58
4,2016-05-09,TSLA,B,208,30,6240,208.92
...,...,...,...,...,...,...,...
4492,2020-06-12,AAPL,NaN,NaN,NaN,NaN,338.80
4493,2020-06-12,TSLA,NaN,NaN,NaN,NaN,935.28
4494,2020-06-15,TSLA,NaN,NaN,NaN,NaN,990.90
4495,2020-06-15,GOOG,NaN,NaN,NaN,NaN,1419.85
4496,2020-06-15,AAPL,NaN,NaN,NaN,NaN,342.99

In [82]:
portfolio3_df=portfolio3_df.sort_values('Date')
portfolio3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close
0,2012-03-05,AAPL,B,77.8,100,7780,76.17
7,2012-03-06,AAPL,NaN,NaN,NaN,NaN,75.75
8,2012-03-07,AAPL,NaN,NaN,NaN,NaN,75.81
9,2012-03-08,AAPL,NaN,NaN,NaN,NaN,77.43
10,2012-03-09,AAPL,NaN,NaN,NaN,NaN,77.88
...,...,...,...,...,...,...,...
4491,2020-06-12,GOOG,NaN,NaN,NaN,NaN,1413.18
4493,2020-06-12,TSLA,NaN,NaN,NaN,NaN,935.28
4495,2020-06-15,GOOG,NaN,NaN,NaN,NaN,1419.85
4494,2020-06-15,TSLA,NaN,NaN,NaN,NaN,990.90
4496,2020-06-15,AAPL,NaN,NaN,NaN,NaN,342.99

In [83]:
portfolio3_df['Number of shares']=portfolio3_df['Number of shares'].fillna(0)
portfolio3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close
0,2012-03-05,AAPL,B,77.8,100,7780,76.17
7,2012-03-06,AAPL,NaN,NaN,0,NaN,75.75
8,2012-03-07,AAPL,NaN,NaN,0,NaN,75.81
9,2012-03-08,AAPL,NaN,NaN,0,NaN,77.43
10,2012-03-09,AAPL,NaN,NaN,0,NaN,77.88
...,...,...,...,...,...,...,...
4491,2020-06-12,GOOG,NaN,NaN,0,NaN,1413.18
4493,2020-06-12,TSLA,NaN,NaN,0,NaN,935.28
4495,2020-06-15,GOOG,NaN,NaN,0,NaN,1419.85
4494,2020-06-15,TSLA,NaN,NaN,0,NaN,990.90
4496,2020-06-15,AAPL,NaN,NaN,0,NaN,342.99

In [84]:
# Convert Number of shares and Transaction Price to float
portfolio3_df['Number of shares']=portfolio3_df['Number of shares'].astype(float)
portfolio3_df['Transaction Price']=portfolio3_df['Transaction Price'].astype(float)

In [85]:
# Calculate the net number of shares and total number of shares
portfolio3_df['Net Shares'] = portfolio3_df.apply(lambda row: row['Number of shares'] if row.Transaction == "B" else row['Number of shares'] * -1, axis=1)
portfolio3_df['Total Shares'] = portfolio3_df[['Net Shares','Ticker']].groupby('Ticker').cumsum()
portfolio3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close,Net Shares,Total Shares
0,2012-03-05,AAPL,B,77.8,100.0,7780,76.17,100.0,100.0
7,2012-03-06,AAPL,NaN,NaN,0.0,NaN,75.75,-0.0,100.0
8,2012-03-07,AAPL,NaN,NaN,0.0,NaN,75.81,-0.0,100.0
9,2012-03-08,AAPL,NaN,NaN,0.0,NaN,77.43,-0.0,100.0
10,2012-03-09,AAPL,NaN,NaN,0.0,NaN,77.88,-0.0,100.0
...,...,...,...,...,...,...,...,...,...
4491,2020-06-12,GOOG,NaN,NaN,0.0,NaN,1413.18,-0.0,10.0
4493,2020-06-12,TSLA,NaN,NaN,0.0,NaN,935.28,-0.0,55.0
4495,2020-06-15,GOOG,NaN,NaN,0.0,NaN,1419.85,-0.0,10.0
4494,2020-06-15,TSLA,NaN,NaN,0.0,NaN,990.90,-0.0,55.0
4496,2020-06-15,AAPL,NaN,NaN,0.0,NaN,342.99,-0.0,150.0

In [86]:
# Calculate cum Daily Balances based on Total Shares and daily closing price
portfolio3_df['Daily Balance'] = portfolio3_df['Close']*portfolio3_df['Total Shares']
portfolio3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close,Net Shares,Total Shares,Daily Balance
0,2012-03-05,AAPL,B,77.8,100.0,7780,76.17,100.0,100.0,7617.0
7,2012-03-06,AAPL,NaN,NaN,0.0,NaN,75.75,-0.0,100.0,7575.0
8,2012-03-07,AAPL,NaN,NaN,0.0,NaN,75.81,-0.0,100.0,7581.0
9,2012-03-08,AAPL,NaN,NaN,0.0,NaN,77.43,-0.0,100.0,7743.0
10,2012-03-09,AAPL,NaN,NaN,0.0,NaN,77.88,-0.0,100.0,7788.0
...,...,...,...,...,...,...,...,...,...,...
4491,2020-06-12,GOOG,NaN,NaN,0.0,NaN,1413.18,-0.0,10.0,14131.8
4493,2020-06-12,TSLA,NaN,NaN,0.0,NaN,935.28,-0.0,55.0,51440.4
4495,2020-06-15,GOOG,NaN,NaN,0.0,NaN,1419.85,-0.0,10.0,14198.5
4494,2020-06-15,TSLA,NaN,NaN,0.0,NaN,990.90,-0.0,55.0,54499.5
4496,2020-06-15,AAPL,NaN,NaN,0.0,NaN,342.99,-0.0,150.0,51448.5

In [87]:
portfolio3_df['Date']

0      2012-03-05
7      2012-03-06
8      2012-03-07
9      2012-03-08
10     2012-03-09
          ...
4491   2020-06-12
4493   2020-06-12
4495   2020-06-15
4494   2020-06-15
4496   2020-06-15
Name: Date, Length: 4497, dtype: datetime64[ns]

In [88]:
portfolio3_df['Cumm Contribution'] = pd.DataFrame(portfolio3_df['Transaction Price'] * portfolio3_df['Net Shares'])
portfolio3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close,Net Shares,Total Shares,Daily Balance,Cumm Contribution
0,2012-03-05,AAPL,B,77.8,100.0,7780,76.17,100.0,100.0,7617.0,7780.0
7,2012-03-06,AAPL,NaN,NaN,0.0,NaN,75.75,-0.0,100.0,7575.0,NaN
8,2012-03-07,AAPL,NaN,NaN,0.0,NaN,75.81,-0.0,100.0,7581.0,NaN
9,2012-03-08,AAPL,NaN,NaN,0.0,NaN,77.43,-0.0,100.0,7743.0,NaN
10,2012-03-09,AAPL,NaN,NaN,0.0,NaN,77.88,-0.0,100.0,7788.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4491,2020-06-12,GOOG,NaN,NaN,0.0,NaN,1413.18,-0.0,10.0,14131.8,NaN
4493,2020-06-12,TSLA,NaN,NaN,0.0,NaN,935.28,-0.0,55.0,51440.4,NaN
4495,2020-06-15,GOOG,NaN,NaN,0.0,NaN,1419.85,-0.0,10.0,14198.5,NaN
4494,2020-06-15,TSLA,NaN,NaN,0.0,NaN,990.90,-0.0,55.0,54499.5,NaN
4496,2020-06-15,AAPL,NaN,NaN,0.0,NaN,342.99,-0.0,150.0,51448.5,NaN

In [89]:
portfolio3_df['Gains/Losses'] = portfolio3_df['Daily Balance'] - portfolio3_df['Transaction Cost']
portfolio3_df

,Date,Ticker,Transaction,Transaction Price,Number of shares,Transaction Cost,Close,Net Shares,Total Shares,Daily Balance,Cumm Contribution,Gains/Losses
0,2012-03-05,AAPL,B,77.8,100.0,7780,76.17,100.0,100.0,7617.0,7780.0,-163
7,2012-03-06,AAPL,NaN,NaN,0.0,NaN,75.75,-0.0,100.0,7575.0,NaN,NaN
8,2012-03-07,AAPL,NaN,NaN,0.0,NaN,75.81,-0.0,100.0,7581.0,NaN,NaN
9,2012-03-08,AAPL,NaN,NaN,0.0,NaN,77.43,-0.0,100.0,7743.0,NaN,NaN
10,2012-03-09,AAPL,NaN,NaN,0.0,NaN,77.88,-0.0,100.0,7788.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4491,2020-06-12,GOOG,NaN,NaN,0.0,NaN,1413.18,-0.0,10.0,14131.8,NaN,NaN
4493,2020-06-12,TSLA,NaN,NaN,0.0,NaN,935.28,-0.0,55.0,51440.4,NaN,NaN
4495,2020-06-15,GOOG,NaN,NaN,0.0,NaN,1419.85,-0.0,10.0,14198.5,NaN,NaN
4494,2020-06-15,TSLA,NaN,NaN,0.0,NaN,990.90,-0.0,55.0,54499.5,NaN,NaN
4496,2020-06-15,AAPL,NaN,NaN,0.0,NaN,342.99,-0.0,150.0,51448.5,NaN,NaN

In [90]:
portfolio3_df_returns = portfolio3_df.sort_values(['Ticker', 'Date'])

In [91]:
portfolio_df_returns = portfolio3_df.drop(columns=['Transaction','Transaction Price', 'Number of shares', 'Transaction Cost', 'Close', 'Net Shares', 'Total Shares'])
portfolio_df_returns.drop(columns=['Cumm Contribution', 'Gains/Losses'], inplace=True)

In [92]:
portfolio_df_returns['Returns'] = pd.DataFrame(portfolio_df_returns['Daily Balance'].pct_change())
portfolio_df_returns

           Date Ticker  Daily Balance   Returns
0    2012-03-05   AAPL         7617.0       NaN
7    2012-03-06   AAPL         7575.0 -0.005514
8    2012-03-07   AAPL         7581.0  0.000792
9    2012-03-08   AAPL         7743.0  0.021369
10   2012-03-09   AAPL         7788.0  0.005812
...         ...    ...            ...       ...
4491 2020-06-12   GOOG        14131.8 -0.721924
4493 2020-06-12   TSLA        51440.4  2.640046
4495 2020-06-15   GOOG        14198.5 -0.723982
4494 2020-06-15   TSLA        54499.5  2.838398
4496 2020-06-15   AAPL        51448.5 -0.055982

[4497 rows x 4 columns]

In [93]:
portfolio_df_returns.drop(columns=['Daily Balance'], inplace=True)

In [94]:
portfolio_df_returns.sort_values('Ticker')

           Date Ticker   Returns
0    2012-03-05   AAPL       NaN
2095 2017-02-08   AAPL  0.003877
2097 2017-02-09   AAPL  0.788734
2098 2017-02-10   AAPL -0.002266
2101 2017-02-13   AAPL  0.800286
...         ...    ...       ...
2399 2017-09-01   TSLA  1.085369
702  2014-05-05   TSLA -0.684610
2403 2017-09-05   TSLA -0.413976
2389 2017-08-29   TSLA  0.004918
2880 2018-04-24   TSLA -0.528253

[4497 rows x 3 columns]

In [95]:
def returns_plot(df):
    return df.hvplot.line(
        x="Date",
        y="Daily Balance",
        title="Returns",
        groupby= "Ticker")

returns_plot(portfolio3_df)

WARNING:param.CurvePlot02953: title_format is deprecated. Please use title instead
WARNING:param.CurvePlot02953: title_format is deprecated. Please use title instead

WARNING:param.CurvePlot02953: title_format is deprecated. Please use title instead

:DynamicMap   [Ticker]
   :Curve   [Date]   (Daily Balance)

In [96]:
def pct_change_plot(df):
    return df.hvplot.line(
        x="Date",
        y="Returns",
        title="Returns Daily Percent Change",
        groupby= "Ticker")

pct_change_plot(portfolio_df_returns)

WARNING:param.CurvePlot03228: title_format is deprecated. Please use title instead
WARNING:param.CurvePlot03228: title_format is deprecated. Please use title instead

WARNING:param.CurvePlot03228: title_format is deprecated. Please use title instead

:DynamicMap   [Ticker]
   :Curve   [Date]   (Returns)

# Insert Heena's Code

# Create Ticker Stats Panel
Using the portfolio database, determine the number of unique stocks and pull stock history.
* Inputs:
    * Transposed Ticker Stat Database (ticker_stats_df_T) (Tickers as Columns)
* Outputs:
    * Ticker Stat Panel (stats_panel)

In [25]:
# Define function that will change negative numbers to red text
def color_negative_red(value):
    if value < 0:
        color='red'
    else:
        color='black'
    return 'color: %s' % color

# Define function that will highlight the max value
def highlight_max(value):
    is_max = value == value.max()
    return ['background-color: yellow' if v else '' for v in is_max]

In [26]:
#Format ticker_stats_df_T to:
# Highlight negative values red
# Highlight larget value yellow
# Add '$' and ',' to currency
# Change percentages to %
# Change floats to 2 decimal places
formatted_stats_df = ticker_stats_df_T.style.applymap(
    color_negative_red, subset=['Beta', 'Cash', 'PE Ratio', 'Profit Margin']
    ).apply(
    highlight_max, subset=['Beta', 'Cash', 'Last Dividend', 'PE Ratio', 'Profit Margin']
    ).format(
    {'Beta':'{:,.2f}', 'Cash':'${:,}', 'Last Dividend':'${:,.2f}', 'PE Ratio':'{:,.2f}', 'Profit Margin':'{:,.1%}'}
    )
formatted_stats_df

In [27]:
stats_panel = pn.panel(formatted_stats_df)
stats_panel

HTML(Styler)

In [ ]:
# code below is my scratchpad area, ignore

In [ ]:
for row in pf:
    if row[index] == 'B':
        lll
    else:
        lll
return lll

In [137]:
stock_dict_copy2=pd.DataFrame(stock_dict_copy)
stock_dict_copy2.to_csv('stock_dict_copy.csv')